[2010-09-02 16:57] ashb opened #1 "Readme incorrect"
It seems that the generator has changed name.

[code]

Also looking at the code I thought the generator should provide empty settings files, but it doesn't seem to

[2010-09-07 16:16] rockrep opened #2 "bundle install fails with Rails 3.0.0"
Previously had rails 3.0.0.rc and rails_config 0.1.3.  All working fine.
- Installed Rails 3.0.0 release
- Updated rails application Gemfile:  gem 'rails', '3.0.0'
- bundle install
  Bundler could not find compatible versions for gem "activesupport":
  In Gemfile:
    rails (= 3.0.0) depends on
      activesupport (= 3.0.0)

    rails_config (= 0.1.3) depends on
      activesupport (3.0.0.rc)

[2010-09-08 05:45] #2 closed, assigned to nobody

[2010-09-14 02:09] jacquescrocker opened #4 "Untitled"

[2010-09-14 02:09] #4 closed, assigned to nobody

[2010-09-14 02:12] jacquescrocker opened #5 "Add Ability to Opt out of OStruct conversion"
Sometimes I need a real hash within my Settings. For example:

[code]

I'd like to be able to access this setting via `Settings.prices[1] #=> 2.99`

However, this doesnt work since rails_config tries to convert everything to OpenStructs, and 1,5,15,etc do not work as method accessors.

Here's a workaround syntax:

[code]

While parsing the settings, if there's a `type:` field set to "hash", I'll a

[2010-09-14 02:17] #5 closed, assigned to nobody

[2010-10-11 07:04] qichunren opened #6 "How to test config value in production evn?"
config/settings/productions.yml
authentication:
  password_expired_after: <%= 1.month %>
  use_validate_code: true

  after(:each) do
    Rails.env = 'test'
  end

  it "should not use validate code at loign page during test env" do
    Settings.authentication.use_validate_code.should == false
  end

  it "should not use validate code at loign page during development env" do
    Rails.env = 'devel

[2010-10-12 06:21] #1 closed, assigned to nobody

[2010-10-12 08:40] #6 closed, assigned to nobody

[2010-10-18 18:26] kris opened #7 "Using rails_config in config/environments/*.rb"
I'm not sure if this is a Rails3 issue, as I just started using Rails3, but I had a similar issue with Settingslogic last night on a Rails3 app.

I use a config for various settings in my environment configs, eg:

[code]

With that being said, I get the following error:

[code]

Is this the way the boot process works in Rails3?

Thanks!

[2010-10-27 04:32] #7 closed, assigned to nobody

[2010-11-10 11:13] garytaylor opened #8 "Using different constant names"
I am using rails_config and I wanted to namespace the constant used.  However, this is not possible using the standard methods.

Also, when a different constant name than 'Settings' is used, all my controllers break in development mode as line 24 of railtie.rb specifically uses the Settings constant, but only in development mode.

I have worked around this in my app, but just wanted to let you kno

[2010-11-16 04:02] #8 closed, assigned to nobody

[2010-11-17 22:49] kris opened #9 "Openstruct hash functionality"
Hi,

Perhaps I'm missing how, as I've inspected the objects and looked through the source, but can't find it. I have an api section in my config:

[code]

This holds the config for our Paypal interface. I wanted to be able to do something similar:

[code]

Unfortunately I don't see a way to convert to a hash. I also can't find much on converting an Openstruct to a hash.

Have any suggestions?

[2010-11-18 07:36] #9 closed, assigned to nobody

[2011-02-06 17:29] smoofles opened #11 "Either I'm misunderstanding config.const_name, or it's not working (for me at least)"
Hi!

I just switched to RailsConfig from SettingsLogic and I really like it, apart from a small issue, that might well be a misunderstanding from my side, namely,

in `config/initializers/rails_config.rb`, I had the following code:

[code]

—since my SettingsLogic class was named LplSettings and I thought that this would make the constant I'm accessing my settings trough named the same and thus ma

[2011-02-11 17:30] smoofles opened #12 "Option overwriting doesn't work (for me, at least)"
Hiya,

I'm using an optional YML file with additional options as well as changes to the existing ones, which is loaded if it exists (doing so via `Settings.add_source!("#{Rails.root}/config/lpl.yml")` in my app's initializer). The problem is that I have the following defined in settings.yml:

    lpl:
      ..
      language_options:
        - de
        - en
      ..

while my own file has

    l

[2011-02-24 20:37] davemitchell opened #13 "Overloading with nulls"
I was expecting to be able to "unset" a property in an overriding config file.  For example, consider the following:

In `config/settings.yml`
    name: Admin
    email: root@foo.com

In `config/settings/development.yml`
    name: Nobody
    email: null

However, it looks like instead of unsetting the value, the derived property is untouched.
That is, the above case yields:
    Settings.name # =>

[2011-06-09 08:05] masterkain opened #15 "Document type: and contents:"
https://github.com/railsjedi/rails_config/blob/master/spec/fixtures/custom_types/hash.yml

It would be beneficial to mention this kind of structure in the README

[2011-07-28 17:12] masterkain opened #17 "Issue on ruby-head / rails (master)"
[code]

[2011-08-10 18:44] uberllama opened #19 "Byte calculations do not work (x.megabytes, x.gigabytes, etc)"
I tried to implement a settings as follows:
    threshold: <%=10.megabytes%>
    max: <%=1.gigabyte%>

...but it doesn't seem to be supported. Not using ERB tags results in a string.

[2011-08-18 02:50] marcalc opened #20 "uninitialized constant Settings"
Apparently, this code here does not work on Rails 3.1

At rails_config/integration/rails.rb

[code]

[2011-09-19 14:43] bsingr opened #21 "Currently some keys (e.g. "id" or "domain.tld") are critical"
Hi,

today i migrated our existing rails configuration to rails_config gem.

we had a several hundred lines long YAML-file that we accessed using the following syntax:
config['root_key.sub_key']

during the migration i had problems with following keys:
    root:
      id: 1
      'google.com': 2

Settings.root.id => actually called object#id
Settings.root.google.com => :)

maybe we can change this

[2011-09-27 09:11] alec-c4 opened #22 "ruby 1.9.3"
Hi,
there are some problems with using this plugin on ruby 1.9.3 with rails 3.1.0. In logs i see message

[code]

1.9.3 is installed with following manual - http://joneslee85.wordpress.com/2011/02/10/another-attempt-to-compile-rvm-ruby-1-9-with-clang-2-0-xcode-4-0-on-mac-osx-10-6-6/

[2011-10-27 06:59] ghost opened #25 "NameError (uninitialized constant Settings)"
Hello, I have this error when using ruby 1.9.2.

[2011-10-28 00:51] #17 closed, assigned to nobody

[2011-12-07 22:06] jlecour opened #26 "JSON error with resque and multi_json"
Hi,

In a Rails app, where I also use resque, multi_json, yajl alongside with rails_config, I get errors whenever I try to pass a RailsConfig::Options object to a Resque job.

The error Is like this :

[code]

Thanks for any help

[2012-03-09 17:27] treydock opened #28 "ActiveRecord support"
I'd like to utilize the power of rails_config to extend the storage of the key / value pairs in ActiveRecord databases.  Is this possible with the existing code?  Maybe if someone points me in the direction of where to add this functionality I may be able to extend this gem further with ActiveRecord support.

If I was to create a model with the same name of Settings, is it possible to default to A

[2012-03-15 10:34] #22 closed, assigned to nobody

[2012-03-15 10:34] #20 closed, assigned to nobody

[2012-03-15 10:35] #25 closed, assigned to nobody

[2012-03-16 12:14] masterkain opened #29 "broken during assets precompilation"
Hello,
Since the recent commit (0.2.6): https://github.com/railsjedi/rails_config/commit/1e7f860bc3e2e89b21fac9d6d0727411201111e0

I cannot evaluate Settings anymore, if I try to execute the rake task for assets:precompile (Rails 3.2.2) it bombs with

[code]

This is working fine in `0.2.5`.

**config/environments/staging.rb**

`config.cache_store = :dalli_store, Settings.app.memcache.hosts`

**co

[2012-04-06 09:14] jandudulski opened #32 "Using rails_config in config/environments/*.rb"
Hi!

I know, there was some issues like that before, but it looks that it happen again. Works for me with 0.2.5, broken above. Ruby 1.9.2, rails 3.2.2

[code]

[2012-04-13 14:04] #29 closed, assigned to nobody

[2012-05-14 11:53] anagrius opened #35 "Crashes on generate if .gitignore file is missing"
Crashes on generate if .gitignore file is missing

[2012-06-20 09:01] ghost opened #37 "Prevents loading env. / crashes"
I added a rails_config gem into Gemfile, bundle install, wanted to run rails_config generator and it crashed.  It also crashes when rails c or rails s with the same error.

Ruby 1.9.2 p290, rails 3.0.14 (apparently 1.9.2 and later does not have Fixnum#to_sym, but not sure what's the problem anyway)

/Users/robert/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/ostruct.rb:81:in `new_ostruct_member': und

[2012-07-23 18:11] niedfelj opened #39 "Settings is not present for rake tasks (rake assets:precompile)"

[2012-08-03 13:21] jlecour opened #42 "Tests don't pass with Ruby 1.8"
I've tried to run te test suite with Ruby 1.8.7 (REE) and I got this :

(the current commit is ec6f46d870dace3ea5f66bf06a33b16fdc28fe7d)

~/Sandbox/jlecour/rails_config [ree-1.8.7-2012.02][git:fix_symbols?]
→ be rake
/Users/jlecour/.rbenv/versions/ree-1.8.7-2012.02/bin/ruby -S rspec spec/rails_config_spec.rb spec/sources/yaml_source_spec.rb
FF......FF...........FFFF.............

Failures:

  1) R

[2012-08-03 13:27] jlecour opened #43 "When did a missing setting started to return nil ?"
Hi,

I hope this issue's title doesn't seem aggressive, anyway it's not the intention ;-)

For a long time, I've been checking for particular setting like this :

[code]

Today — I don't think my version has changed (0.2.x) — I get `nil` for a missing setting, instead of a `NoMethodError` exception.

I was surprised not to find any test case for this in the current `0.3.1`. I even wanted to add on

[2012-08-31 18:18] geetarista opened #44 "NameError: uninitialized constant AppName::Application::Settings"
When I upgrade from 0.2.5 to the most recent version, I'm now starting to get this error:

`NameError: uninitialized constant AppName::Application::Settings`

The offending line comes from `app/config/application.rb`:

[code]

I believe the issue comes from a change in how RailsConfig is loaded, based off one of these two commits: 9e17fac1bc and 1e7f860bc3.

Is there any workaround for this?

[2012-09-10 15:03] Zachu opened #45 "Iterating through Settings"
I'm a new on the whole rails scene so this might be a really newbie question, but I don't seem to be able to iterate through my Settings. I'm trying to iterate through Settings.navigation which could have another array under them.

With

[code]

I get

[code]

I'm trying to each them, but

[code]

gives me nothing. I actually did find a way to iterate them, by first converting Settings.navigation

[2012-09-12 23:51] #45 closed, assigned to nobody

[2012-09-28 12:07] UncleAndy opened #47 "Dup values in array converted to one"
I use this:

<pre>photos:
  upload:
    photo_avatar_size: [60, 60]</pre>

And I get array with 1 element:

<pre>irb(main):001:0> Settings.photos.upload.photo_avatar_size
=> [60]</pre>

Is it bug?

rails_config (0.3.1)

[2012-10-10 18:52] jc00ke opened #48 "OH GOD CHANGE THE NAME!"
`Settings` is the name of the constant yet the gem name is `rails_config`? Ahhh, this hurts so much!

ps: I don't expect this issue to be taken seriously, as it's mainly a complaint of seeing one thing (`Settings`) and not knowing where it originates (`rails_config`).

[2012-12-27 22:51] neersighted opened #51 "Close old issues"
Most of the open issues are out of date, and now fixed. Please close them.

/cc @railsjedi

[2013-02-20 07:18] sharp opened #52 "Cannot visit RailsConfig::Options"
This's my code:

[code]

[code]

If I remove RailsConfig, it does work:

[code]

[2013-04-17 20:25] chadwtaylor opened #56 "How does one push application configurations to Heroku?"
This gem looks great! I am currently using Figaro gem because it supports Heroku... wondering how this would support Heroku if already supported?

[2013-05-23 02:33] reagleton opened #58 "to_hash method doesn't handle YAML arrays of key/value pairs"
If the `settings.yml` file contains an array of key/value pairs then the `to_hash` method skips over those pairs and fails to convert them even though it works for simple arrays.

For example, if the `settings.yml` contains,

[code]

then calling `Settings.media.to_hash` results in,

[code]

The correct output should probably be,

[code]

[2013-06-26 16:03] Exoth opened #59 "Settings and application.rb"
Is there any reason why Settings can be used in development.rb/production.rb, but can't be used in applicaiton.rb? I need to set some config the same way for all environments and wouldn't like to duplicate it for each of the environment files.

[2013-08-29 12:12] jasperkennis opened #61 "Settings not defined before rake db:test:prepepare"
If I try to run `rake db:test:prepare` I get an error (ran it with `--trace`):

[code]

The problem goes away when I hardcode my db configurations. Breaking database.yml looks like this:

[code]

I'm om Rails 4, ruby 2.0.0p247, and rails_config 0.3.3. Don't really know why this is happening, I haven't noticed similar problems with any other tasks. Can provide more info if needed.

[2013-10-28 08:42] jlecour opened #62 "Going 1.0"
Hi,

RailsConfig has been quite stale for many month : only a handful of commits during the last year, almost no issue closed, …

Maybe it's a good time to evaluate the most important open issues and try to solve them then release a 1.0 version.

A piece of software, used by many in production for a long time, can't really stay in 0.x forever.
Plus, it might never be perfectly bug free and feature

[2013-12-07 21:58] cristianogregnanin opened #65 "secret token not recognized by heroku."
gemfile:
`gem "rails_config", '0.2.5'`

i have configured secret token:
`MySite::Application.config.secret_key_base = Settings.secret_token`

In console i have:
`2.0.0p353 :001 > Settings.secret_token
 => "9a1773c......."`
the config/initializers/secret_token.rb is not present in my .gitignore

and i have configured SECRET_TOKEN on heroku:
`$ heroku config:set SECRET_TOKEN=9a1773c.......`

after h

[2013-12-08 21:15] #65 closed, assigned to nobody

[2014-03-07 05:32] smith opened #68 "Integration with encrypted Rails credentials"
Rails 4.1 introduces a built-in convention for having a secrets.yml with secrets in it: http://edgeguides.rubyonrails.org/4_1_release_notes.html#config-secrets-yml

It would be cool if this gem did some of these things:
- Aliased `Rails.application.secrets` to `Settings.secrets`
- Shimmed the secrets.yml functionality in for Rails < 4.1
- Allowed you to have a secrets.local.yml or config/secrets/p

[2014-03-31 22:13] #59 closed, assigned to nobody

[2014-03-31 22:14] #32 closed, assigned to nobody

[2014-03-31 22:16] #44 closed, assigned to nobody

[2014-03-31 23:05] #47 closed, assigned to nobody

[2014-03-31 23:12] #37 closed, assigned to nobody

[2014-03-31 23:14] #28 closed, assigned to nobody

[2014-03-31 23:24] #21 closed, assigned to nobody

[2014-03-31 23:57] #11 closed, assigned to nobody

[2014-03-31 23:57] #51 closed, assigned to nobody

[2014-04-01 01:37] #52 closed, assigned to nobody

[2014-04-05 21:04] jacquescrocker opened #70 "not working with Rails 4.1.0.rc2"
having rails_config in the project throws an error on start

[code]

[2014-04-05 21:31] #70 closed, assigned to jacquescrocker

[2014-04-07 02:44] reagleton opened #71 "Method to specify some settings as read-only"
It would be nice to have a method/feature that allows us to specify some settings as read-only, particularly as when I display the settings, there is a key/value that appears for each section as `modifiable: true`. It seems that this is something to do with the options so if a shortcut could be provided to allow us to mark a section as modifiable or not at runtime, it would make it easier to manag

[2014-04-13 06:19] jacquescrocker opened #72 "Blech, initializer still broken on latest Rails"
if you try to use Settings in environments/.rb, then it says "undefined constant Settings"

[2014-04-16 12:33] nicolasleander opened #73 "Rails 4.1.0 configuration error"
I have

[code]

I start the server

`block in <top (required)>': uninitialized constant Settings (NameError)`

Was working fine in Rails 4.0.4

Any idea how to fix ?

[2014-04-17 23:46] #72 closed, assigned to jacquescrocker

[2014-04-22 21:36] #73 closed, assigned to nobody

[2014-04-30 09:49] dkln opened #74 "Crashes when loading in a Sinatra app"
When using in a Sinatra app, RailsConfig crashes because module Rails is not defined:

[code]

Suggest to only include engine.rb when Rails is defined.

[2014-05-07 16:02] janko-m opened #77 "Missing keys should raise an error"
This really seemed like a perfect gem for me. I extactly wanted specification for different environments in separate files.

However, there is one major design flaw. Accessing an option that wasn't set in the YAML files should raise a `NoMethodError`. That is, `RailsConfig::Options` shouldn't be an `OpenStruct`. Otherwise there is no way to guard yourself from typos, since there is no way to deter

[2014-05-09 17:29] aar0nr opened #78 "Multi-environment settings not loading properly"
In `config/settings.yml`:

`foo: bar`

In `config/settings/development.yml`:

`foo: bar_dev`

In `config/settings/test.yml`:

`foo: bar_test`

When i start the rails console in the development environment, i.e. `rails console`, everything works as expected.  The value of `Settings.foo` equals `bar_dev`.

However, if I start the rails console in the test environment, i.e. `rails console -e test`, t

[2014-05-13 15:52] BattleBrisket opened #80 "Add more YAML files at load time (not runtime)"
I'd like to add more files to the RailsConfig file load chain. I know what these files will be in advance, so I'd rather avoid loading them at runtime. Is there some syntax available that works like the following...

[code]

I didn't see anything whilst digging through the code, though I am admittedly n00bish when it comes to parsing out gems.

[2014-05-16 00:12] #61 closed, assigned to pkuczynski

[2014-05-29 03:27] #80 closed, assigned to nobody

[2014-06-20 09:07] takashi opened #82 "[Question] Raise Uninitialize constant Rails in deploy.rb"
I'm using rails4.1.1 and Ruby2.0.0-p481
I try to use rails_config with capistrano.

and I wrote like this

[code]

but the line 3, require "rails_config" raises error `uninitialized constant Rails`.

I found to work this with rails_config0.3.

Is there any change in rails_config0.4 ?

[2014-06-20 09:11] #82 closed, assigned to nobody

[2014-07-08 18:18] ixti opened #83 "0.4 branch compatible with Rails 3.1+ only"
`Engine.isolate_namespace` exists in Rails 3.1+ only, so probably it worth to warn people about Rails compatibility :D

[2014-07-30 14:41] jamesy829 opened #84 "Heroku Compatibility"
I use the suggested guide to setup usage of env variables on Heroku

https://github.com/railsconfig/rails_config#working-with-heroku

I have my env variables on Heroku as following:

[code]

I noticed that when it tries to run rake task, it would complain env variables not found, and doing some digging, I discovered those are not valid env variables and Rails would not pick them up properly.

I ha

[2014-08-22 22:23] dudo opened #87 "Security"
Hello! Not an issue, per se. I'm just wondering how secure this approach is? Is it safe to store access tokens and secret stuff within `Settings`?

[2014-08-29 01:42] #74 closed, assigned to nobody

[2014-08-29 01:47] #35 closed, assigned to nobody

[2014-09-09 22:25] dudo opened #90 "passing variables"
I'm wondering if we can pass variables like we can with the locale files, using `#{var}` in the yaml file.

    Settings.foo.bar(var: 'baz')

?

[2014-09-10 19:10] tony-kerz opened #91 "question: reference settings in other settings?"
i'd like to do something like this (with any syntax) in a config file:

[code]

i tried a couple of angles with no luck, is it possible?

regards,
tony.

[2014-09-25 15:42] gauthier-delacroix opened #92 "Settings not updated even with restart"
Hi !
I'm a new user of RailsConfig and maybe I miss something but my settings aren't updated when I restart my Rails console (dev mode), and I have to use `Settings.reload!` each time I change a setting:
[code]
Change YML file with `my_setting: 2`:
[code]
Are settings cached somewhere even between different console sessions ?
I know `Settings.reload!` is faster that relaunching console, but having

[2014-09-27 14:10] victorsosa opened #93 "Rails_config is not working on rails 4.1.4"
HI,

As the title said it is not working, here some info about the config I did:

Gemfile
gem "rails_config"

run:
rails g rails_config:install

[vns@betito prometheus]$ cat config/settings/development.yml
dns_servers: [ {name: solenodonte.server1} ]
proxy_servers: [ {name: iguana.server2} ]

this load Nil
@proxy_serves = Settings.proxy_servers

Do I need to do anything else so this start to work?

[2014-10-08 04:54] yoonwaiyan opened #94 "No settings loaded in Rails 4.1.6"
I've added a setting in config/settings.yml like this
`hello: "All"`
Tested that config in rails console but `Settings.hello` returns nil.
The output in `Settings` is `#<RailsConfig::Options>`.
I tried the solution provided in Issue #92 but it's not working.
Anyone knows how to make this work? Thanks in advance.

[2014-10-13 16:32] #87 closed, assigned to nobody

[2014-10-27 11:34] askuratovsky opened #96 "question: Does it reload settings.yml on each request?"
I need to read settings on heavy load method of controller. Seems raills_config read settings.yml on each request. Can rails_config cache data or i must do it myself?

[2014-11-09 01:13] ExClouds opened #97 "Can't generate settings in ruby 2.0.0 & rails 3.2.8"
Hey.

P.S. I am cd'd inside project directory.

When i try to generate settings, using example provided:

[code]

i get this:

[code]

Heres all the info:

[code]

[code]

[code]

[code]

[2014-12-16 04:11] fuminori-ido opened #98 "How to prepend engine's config to rails-app?"
I would like to use rails_config both engine (let me say 'MyEngine' here) and rails-app which uses the engine.  Also, I would like to overwrite MyEngine's settings at rails-app settings.  Is this possible?

The discussion http://stackoverflow.com/questions/20597501/how-to-integrate-rails-config-under-rails-engine says just integrate engine's settings to rails-app engine, but MyEngine's settings ca

[2015-02-16 14:43] joel opened #100 "Unsupported Array of Sympbol"
I don't know why but it's a fact :

supported :
[code]
unsupported :

[code]

env :
[code]

Stacktrace :

[code]

[code]

[2015-02-17 04:23] jelmd opened #101 "RFE: allow knockout_prefix"
Is it possible to use DeepMerge::DEFAULT_FIELD_KNOCKOUT_PREFIX per default, or at least make it possible to use it?

Problem is, that with the current processing it is not possible to remove/replace elements in an array.
Since '--' is a very uncommon prefix for any values, I guess enabling it by default doesn't cause any problems.

E.g.: defaults.yml
[code]
and settings.yml
[code]
should result in

[2015-02-19 09:09] toncid commented on #13
Hello,

What's the status of this issue? It's still occurring and overriding with a blank value doesn't affect the original value.

Thanks!

[2015-03-19 17:41] victorsosa commented on #93
thanks

[2015-03-19 17:41] #93 closed

[2015-03-23 13:58] pkrefta commented on #101
I'm not entirely sure but this is probably a question for YAML parser guys rather than gem authors.

[2015-03-23 13:59] pkrefta commented on #100
You should sent your bug report to psych gem author - https://github.com/tenderlove/psych - this is about YAML parsing - not a rails_config issue.

[2015-03-23 18:28] joel commented on #100
Ok Thanks

[2015-03-26 10:12] ehudyalinmor opened #105 "Feature request: enable environment casing inside a settings yaml file"
Sometimes splitting environment configuration to different files can be very hard to maintain.
For instance, if you are using the settings to configure an external service such as bit.ly you will naturally have:

[code]

When having a lot of environment dependant configurations and some other non-environment dependant configurations makes the configuration hard to follow, read and maintain.

My su

[2015-03-30 14:18] jiggneshhgohel commented on #91
+1

[2015-04-01 10:08] Antiarchitect opened #106 "NameError: uninitialized constant AppName::Application::Settings. Rails 4.2.1"
Same as #44 but.
rails_config 0.5.0.beta1
rails 4.2.1

[2015-04-06 20:48] iHiD commented on #94
I'm seeing this too. Doing a `Settings.reload!` works. 0.5.0.beta1 works too.

[2015-04-07 20:08] MattBillock commented on #94
I'm seeing the same thing - the settings do not load in rails console when first run. Everything seems to work fine after a Settings.reload! - restarting the console after that happens results in the settings loading correctly. Is the beta release stable enough to be used in production, or scheduled to become an official release? Any idea when this issue will be addressed in an official release?

[2015-04-20 18:03] jiongye commented on #94
I am having the same issue. it seems like the Spring gem cached the Settings. When I turn off the Spring gem, everything works as expected.

[2015-04-28 12:06] stefanahman opened #108 "Read environment variables"
Hi, I wonder if it is possible to do the following:
[code]
and then recover the variable by:
[code]

[2015-05-19 22:49] pkuczynski commented on #96
No, it does not. It loads it once and cache it in constant. The only env which settings are being reloaded on each request is development.

[2015-05-19 22:49] #96 closed

[2015-05-19 22:52] #62 closed

[2015-05-19 23:09] pkuczynski commented on #48
Any other suggested names for the gem and/or global variable? Things like 'config', 'settings' are already taken on Ruby Gems...

[2015-06-06 17:08] shlima commented on #77
+1

[2015-06-22 13:28] akhramov commented on #94
Yes, Spring is the reason. Thanks, @jiongye!

[2015-06-25 21:05] skamansam opened #109 "Do not evaluate ERB in YAML comments"
Every time I try to configure RailsConfig, I get the following error:
[code]

I am trying to use the following code, in `config/environments/development.rb`:

[code]

and my config file is at `config/application/default.yml`:
[code]
It errors out when I try to load a yaml file, as in the following code. I have tried moving this code to config/application.rb, config/environments/development,
[code]

[2015-06-25 21:11] skamansam commented on #109
This also happens in 0.5.0.beta1

[2015-06-25 21:17] skamansam commented on #109
I managed to figure out the problem: the issue is that the ERB from the comments in my YAML file were being evaluated

[2015-07-22 13:27] navaneeth opened #111 "undefined method `preload' for RailsConfig::Integration::Rails::Railtie:Class (NoMethodError)"
I am trying to load rails_cofig before rails loads. Followed the instructions give in the README. Here is my `application.rb`

[code]

But this fails with error

[code]

Rails version - `Rails 4.2.3`
Ruby version - `ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]`

[2015-08-01 15:58] sshaw opened #112 "Option to Add Settings to Rails.configuration"
Instead of (or in addition to) putting options into `SomeConstant` this option would put them into `Rails.configuration`.

Aside from being The Rails Way™ to store application config, it can also make things easier on those migrating to RailsConfig.

What do you think?

[2015-08-04 04:06] j2d3 commented on #111
I'm having the same problem with the same version of Rails and Ruby

[2015-08-04 08:21] iurifq opened #113 "New release"
It's been almost one year and quite a lot of commits since the last release. What do you think of bumping up the version?

[2015-08-05 01:42] fredwu commented on #113
Released! https://rubygems.org/gems/config/versions/1.0.0.beta1 :smiling_imp:

[2015-08-05 01:42] #113 closed

[2015-08-05 07:28] iurifq commented on #113
Nice, thanks! :bow:

[2015-08-05 13:29] pcdevlin opened #114 "generators not working"
Just installed the config gem:
[code]
then tried to run the generator:
[code]

[2015-08-05 13:30] fredwu commented on #114
You will need to specify --pre to install 1.0.0.beta1. :)

Fred Wu, on mobile
On 5 Aug 2015 11:29 pm, "pcdevlin" <notifications@github.com> wrote:

[2015-08-05 13:32] pcdevlin commented on #114
Thanks

[2015-08-05 13:33] #114 closed

[2015-08-05 17:51] KOBA789 opened #115 "Template file name is incorrect?"
In 1.0.0.beta1, when I run `rails g config:install` I can see an error:
[code]

In [`install_generator.rb`](https://github.com/railsconfig/config/blob/f67cee3b351377b4cf3a9dc9eb4952bb6dde38ab/lib/generators/config/install_generator.rb) filename is described as `config.rb`.
However there is not `config.rb` but [`rails_config.rb`](https://github.com/railsconfig/config/blob/f67cee3b351377b4cf3a9dc9eb

[2015-08-06 01:43] baburdick opened #116 ""Use RbConfig instead of obsolete and deprecated Config." "Could not find generator config:install.""
[code]

[2015-08-06 03:12] fredwu commented on #115
Thanks! I've just pushed `1.0.0.beta2` that fixed this issue. :)

[2015-08-06 03:12] #115 closed

[2015-08-06 03:14] fredwu commented on #116
Are you on ruby 1.9.3 by any chance?

[2015-08-06 03:15] fredwu commented on #116
Sorry ignore my last comment. I'm investigating...

[2015-08-06 04:01] fredwu commented on #116
I've pushed `1.0.0.beta3` that should have this addressed (it's a workaround, I'm hoping no one is using ruby's corelib `Config` module).

[2015-08-06 04:03] fredwu commented on #112
This could potentially create conflicts though... what if you have a config item the same name as one of the `Rails.configuration` ones?

[2015-08-06 04:07] fredwu commented on #111
The two lines below need to be executed in your `Application` class according to the README, right? You had them executed before outside of the class.

[code]

[2015-08-06 04:10] fredwu commented on #109
Hmmm, where does `AppConfig` come from? I don't think we have any reference to that in the code base. Could you elaborate the bit about the evaluation of ERB in YAML comments?

[2015-08-06 04:11] fredwu commented on #108
It is certainly possible, would you or anyone like to have a crack and submit a pull request? ;)

[2015-08-06 04:12] fredwu commented on #106
Closing this as it should be fixed by #107.

[2015-08-06 04:12] #106 closed

[2015-08-06 04:13] fredwu commented on #101
I would like a bit more feedback and suggestions on this one, let's keep the conversation in #66. :)

[2015-08-06 04:13] #101 closed

[2015-08-06 04:15] #100 closed

[2015-08-06 04:16] fredwu commented on #94
Sounds like we're all good here, closing. :)

[2015-08-06 04:16] #94 closed

[2015-08-06 04:16] fredwu commented on #92
Sounds like we're all good here, closing. :)

[2015-08-06 04:16] #92 closed

[2015-08-06 04:18] fredwu commented on #84
Great work! Any chance of submitting a PR? :)

[2015-08-06 04:19] fredwu commented on #48
The gem has now been renamed to `Config`. :)

[2015-08-06 04:19] #48 closed

[2015-08-06 04:20] fredwu commented on #42
Hi, given ruby 1.8.x has been EOL'ed for a while, unless anyone wants to contribute patches I'm afraid I'm not going to do anything to it... Sorry.

[2015-08-06 04:20] #42 closed

[2015-08-06 04:31] fredwu commented on #97
Hi, could you please try the latest version of the gem (1.0.0.beta3)? I've tested it on ruby 2.0.0p576 and rails 3.2.8 and it's working fine. :)

[2015-08-06 04:31] #97 closed

[2015-08-06 05:02] baburdick commented on #116
Hi @fredwu. Thanks for working on this and pushing an update. But I get the same generator error with beta 3.

And I'm seeing this when I update an app with beta 3 and try to run specs. (I get this error with beta 2, too):
[code]
And this is my `config/initializers/rails_config.rb`:
[code]
I hope that gives you enough information to get to the bottom of this issue. Until then, I'm sticking with th

[2015-08-06 05:17] fredwu commented on #116
The gem's been renamed to `Config`, so you should use `Config` instead of `RailsConfig` now. :)

[2015-08-06 05:18] shlima opened #117 "Provide a changelog"
Hello, could you please provide a changelog to us. For me, for example, `Settings` and `Config` constants are not defined in v1.0.0.beta3

[2015-08-06 05:30] jc00ke commented on #48
:+1:

[2015-08-06 06:47] fredwu commented on #117
Yep, will do! What do you mean by `Settings` and `Config` are not defined?

[2015-08-06 07:46] joel commented on #100
https://github.com/tenderlove/psych/issues/228

[2015-08-06 08:15] shlima commented on #117
I meant the following error:

[code]

[2015-08-06 08:38] pkuczynski commented on #48
@fredwu have you also change the variable name from `Settings` to `Config`? And can you make me an owner on the new gem too, like I was on rails_config? :)

[2015-08-06 12:42] sshaw commented on #112
I'd imagine that majority of people would be use a single config method and this would be an edge case that can be handled via something like:  `Settings.on_load_conflict(:raise)`, (or `:overwrite`, `:skip`) though `:raise` should be the default.

Or, maybe there's a more `Config` like way to do it. Though that seems about right.

[2015-08-06 12:49] sshaw commented on #112
[code]

[2015-08-06 12:54] fredwu commented on #48
@pkuczynski Of course! Done! :)

[2015-08-06 13:18] ExClouds commented on #97
Sorry for late response. It worked on the latest ruby 2.2.1

[2015-08-06 15:37] cratz commented on #117
@shlima I had the same issue.
Just change
```gem 'rails_config'```
to
```gem 'config'```
in your Gemfile.

[2015-08-06 16:01] shlima commented on #117
@cratz I have been already done this since 1.0.0.beta1

[2015-08-06 20:21] baburdick commented on #116
That doesn't appear to get me out of the woods:
[code]
Updated `config/initializers/rails_config.rb`:
[code]

[2015-08-06 20:25] baburdick commented on #116
I get the same even if I use `config` v0.0.1 in the Gemfile and rename the initializer to `config/initializers/config.rb`.

[2015-08-06 23:23] fredwu commented on #117
@shlima What are your ruby and rails versions?

[2015-08-07 04:31] shlima commented on #117
@fredwu Rails 4.2.3, ruby 2.2.1p85

[2015-08-07 04:53] shlima commented on #117
Hmm, after running `bundle update` I actually see `config (0.0.1)` in my Gemfile.lock

[2015-08-07 05:03] fredwu commented on #117
Yep you'd need to specify beta. :)

[2015-08-07 05:03] #117 closed

[2015-08-09 16:07] tarellel commented on #116
I have had the same issues since they have being making these beta changes and switching from rails_config to config, but in order to get the generator and application to actually load instead of just using `gem 'config'` I had to load it using the latest possible script available.

[code]

I also had to make changed to the `config/initializers/config.rb` file you have to make sure the right modul

[2015-08-09 23:26] fredwu commented on #116
@tarellel Alternatively you could specify a beta version of the gem:

[code]

:)

[2015-08-09 23:26] #116 closed

[2015-08-17 10:36] pkuczynski commented on #112
Rails.configuration is more to configure Rails, not to store general application settings. Please note that current trend is to move all gems configuration to `config/initializers/gem_name.rb`. So I would personally keep Config as a separate, easily accessible object.

[2015-08-17 10:38] pkuczynski commented on #111
Instead of loading Config before loading Rails, could you describe your usage scenario? I have already made Config available on the earlier Rails loading stages (like to be able to use it in database.yml), so maybe your scenario is general enough that we can provide a general solution for this?

[2015-08-17 10:41] pkuczynski commented on #109
Or better attach your full settings file, so we can fix the problem and add some more specific examples to our test suite...

[2015-08-17 10:46] pkuczynski commented on #105
Why don't you store your `bitly` configuration together with your other settings?

[code]

[2015-08-17 11:03] pkuczynski commented on #98
I think you already received pretty good answer on the Stackoverflow...

[2015-08-17 11:03] #98 closed

[2015-08-17 11:16] #83 closed

[2015-08-17 11:17] pkuczynski commented on #83
Thanks for noticing :)

[2015-08-17 11:17] pkuczynski commented on #26
Closing due lack of feedback...

[2015-08-17 11:17] #26 closed

[2015-08-17 11:21] pkuczynski opened #118 "Renaming Settings to Config and display deprecation warning until next major version bump"
As we renamed the gem from RailsConfig to Config I think we should also rename the global variable name from Settings to Config, keeping both access points available and displaying deprecation warning until the next major version bump.

@fredwu what do you think?

[2015-08-19 10:00] gauda commented on #77
+1

[2015-08-21 16:05] shlima commented on #77
@pkuczynski please provide something like a `fetch` method

[2015-08-24 20:34] albertnetymk commented on #92
Does it make sense to add @stevschmid 's snippet to the README? I have to search through the issues to find out why my settings are not available in rails console.

[2015-08-28 22:20] RoLoTo commented on #111
Move the two lines into your Application class block in application.rb.  I found I had to change "RailsConfig" to "Config" to get it to tie in.  So:

Bundler.require(*Rails.groups)
RailsConfig::Integration::Rails::Railtie.preload

becomes:

Bundler.require(*Rails.groups)
Config::Integration::Rails::Railtie.preload

[2015-10-03 07:32] vinceve commented on #108
I would like to take a look at this. Wouldn't it be better to have some kind of prefix for env variables. For example:

[code]

[2015-10-03 12:50] vinceve commented on #112
I would like to follow @pkuczynski in this one. Rails.configuration is to configure rails internals.

[2015-10-03 12:54] vinceve commented on #118
This sounds good to me. But could it potentially crash with a rails class? I'm not sure if there is already a Config class or not... If not, it would be beneficial to the consistency for the user.

[2015-10-03 15:59] sshaw commented on #112
Not true.

`Rails.configuration`  allows for custom, application specific configuration since 3.0 or 3.2 I think. Are you aware [of this](http://guides.rubyonrails.org/configuring.html#custom-configuration)?

[The examples in Config's README](https://github.com/railsconfig/config#accessing-the-settings-object) can be written in Rails < 4.2 out the box like this:

[code]

With Rails 4.2, this was m

[2015-10-04 06:24] vinceve commented on #112
Ok. I didn't know about that. I'll investigate it some more so that I'm up2date! Thanks for you clarifying response!

[2015-10-06 18:06] vinceve commented on #112
@sshaw I guess it would be possible to do this:

[code]

I'm not sure of this. We would need to investigate this.

[2015-10-15 10:49] tomohiroakino commented on #116
67fef56 で対応済み

[2015-11-10 22:54] darrenleeweber opened #120 "DeepMerge - avoid conflict with active support"
See https://github.com/danielsdeleo/deep_merge#using-deep_merge-in-rails
[code]

[2015-11-30 04:44] s8186255 opened #121 "Use RbConfig instead of obsolete and deprecated Config"
when rails c,warning as following appears
/home/***/.rvm/gems/jruby-9.0.3.0@global/gems/config-1.0.0/lib/config/compatibility.rb:1:in `<top>': Use RbConfig instead of obsolete and deprecated Config.
my config.rb in initialize directory:
Config.setup do |config|
  config.const_name = "Settings"
end

[2015-12-07 07:50] endenis commented on #121
+1, I have the same problem (ruby 2.2.3p173, Rails 4.2.5)

[2015-12-10 08:41] quaternion opened #122 "Kernel.const_set, seriously?"
The Kernel module is included by class Object, so its methods are available in **every Ruby object**.

Result:

[code]

[2015-12-15 07:38] JanC opened #123 "Using only settings.yml"
Hi,
is it possible to use only the `settings.yml` and have development and production sections instead if using two different `config/development/settings.yml` and `config/production/settings.yml` ?

[code]
Then access it via `Settings.token_url` ?

[2015-12-15 07:45] hakimovis commented on #123
[code]

[2015-12-23 00:26] pkuczynski commented on #122
How would you suggest to implement it differently?

[2015-12-24 16:07] khelll commented on #121
+1

[2015-12-24 19:09] dudo commented on #90
I just googled this issue... and here is my original request. Kinda funny...

[2016-01-01 06:11] DannyBen opened #124 "Extra config sources defined in initializer"
Hi,

Not sure if this is implemented and I haven't found it or not.

I [know there is a way](https://github.com/railsconfig/config#adding-sources-at-runtime) to create an initializer that adds another settings file and reloads.

Although this is a good feature that can solve my use case of loading config file per client, it feels a little "after the fact patch" since I dont really need it to be "a

[2016-01-09 14:22] jayzz55 opened #126 "NameError: uninitialized constant AppName::Application::Settings. Rails 4.2.5"
Same as #44 but.
rails 4.2.5

[2016-01-10 09:40] DannyBen commented on #12
Hey guys - I bumped into the same problem today, and found this 5 year old ticket with a 1 year old open PR.... is this fix happening? Or should we just consider arrays as non overridables for now?

[2016-01-11 09:39] opya opened #127 "overwriting initializer Settings after Config.prelaod"
ruby version: ruby 2.2.2p95<br />
rails version: Rails 3.2.22<br />
config version: 1.0.0<br />

Hi, i have the following problem:

My setup is one rails app and a Rails plugin. Each has its own settings files which i want to use - the app ones are app specific settings and the plugin ones are some common settings for all apps.

I have `config.rb` in `config/initializers` dir with the following co

[2016-01-12 09:33] vinceve commented on #12
Hey Danny,

I had the same problem and made a fix around the same time this was fixed. But after that the deepmerge was extracted in a separate gem. And as the deepmerge gem isn't updated in a long time. I guess it's not in there.

That's why I still have a fork where I implemented this feature. You can find it here: https://github.com/vinceve/rails_config

[2016-01-12 09:49] DannyBen commented on #12
Thenks @vinceve - good to know. I am relying heavily on this config gem and its overrides. I hope to hear from one of the contributors about this ticket, to at least know whats the official policy in the canonical repository, and if there is a plan to change the current additive behavior.

[2016-01-14 11:18] YaroSpace commented on #111
I am having the same problem.  Not sure if this is a correct way to go, but moving the line `          config.before_configuration { preload }` after the `preload` method definition in the `config/integration/rails.rb` worked for me.

[2016-01-14 11:19] vinceve commented on #123
@JanC What would be a use case for this behaviour, maybe there is another way to achieve the same thing? (just curious, I don't want to be harsh :-) )

[2016-01-22 18:24] jcarlson commented on #121
I started getting this warning when switching from MRI 2.2.2 to JRuby 9.0.4.0...

[2016-02-01 20:07] malakai97 commented on #122
Anyone who needs this to be loaded into the global namespace by another name should just do it themselves.  It's a trivial assignment.
[code]

I suggest removing this feature.

[2016-02-02 10:54] quaternion commented on #122
Through definition a custom class or module:
[code]
or
[code]

[2016-02-02 12:57] pkuczynski commented on #122
You are totally right that Kernel.const_set is not the best way to expose settings. This was in the code, before I joined the project and I never really thought about it before... There are couple of problems with the current setup actually. First of all Config is a module which holds the logic of loading settings, while what you referring to is a static OpenStruct object called Settings, holding

[2016-02-08 10:02] MonikaMahanthappa opened #131 "The newly added entries to .yml are not getting loaded"
I would like to know if there is any configuration that i'm missing. As the newly introduced entries to yml files are not loading even after the app restart.

In our Gemfile

`gem 'config'`

config.rb

[code]

I have even tried to load the files using `Config::Integration::Rails::Railtie.preload`. But even that does not help. But the entries are loaded when i explicitly make call `Settings.reload!

[2016-02-10 17:30] gipcompany opened #133 "files to be ignored in .gitignore should be with slash?"
When I did `rails g config:install ` as described in README.md, I saw the following diff in .gitignore file.

[code]

However, I think the files to be added should be with slash on the top as follows. What do you think of this?

[code]

[2016-02-23 13:06] AmitPatel-BoTreeConsulting commented on #126
I am too facing same issue with 4.2.5

[2016-02-24 21:23] tehandyb commented on #131
I'm having the exact same issue. My workaround was to put Settings.reload! inside config/application.rb:
`module myModule
    class Application < Rails::Application
        Settings.reload!
    end
end
`

[2016-03-01 02:44] AmitPatel-BoTreeConsulting opened #134 "Settings returns nil for all configurations which reads from environment variables in Rails 4.2.5"
`initializers/devise.rb` uses many settings, which seems not able read from environment variables in production.  Few models also use settings from config that read values from environment variables. Such settings also have `nil` values

 **application.rb**

[code]

**devise.rb**

[code]

**settings.yml**

[code]

This works perfectly in development environment. Also, When I access `Settings.twitt

[2016-03-01 09:40] giorgian commented on #111
My scenario: config used in a Rails engine initialiser.

Everything works fine in the Rails app, but rake test inside the engine fails. YaroSpace's fix solves the problem.

[2016-03-01 10:40] YaroSpace commented on #111
I am also using it in the engine and also in the wrapper apps.
This is how I do it:

1. I require the config in the wrapper app (by including into Gemfile).  This way the gem gets initialized and the app specific config is picked up.
2. In the engine, I have a custom initializer, which reads engine specific config and prepends it to Settings. (`Settings.prepend_source!(..); Settings.reload!`).  So

[2016-03-01 10:56] giorgian commented on #111
Thanks, I'll experiment with that, although in my case I don't foresee using engine specific configuration, just the wrapper ones (and of course the test/dummy ones).

[2016-03-09 02:42] franzliedke opened #135 "Should test environment ignore .local files?"
I'd argue yes.

Since you cannot know what other developers have configured in their `*.local.yml` files, you don't know how those values will affect the tests.
But we want tests to be reproducible, so I'd argue that in the `test` environment, these files should not be loaded. (After all, the behaviour can be changed using `reload_from_files` in test setup.)

What do you think?

[2016-03-14 13:10] pkuczynski commented on #133
I do not think this is necessary. Did you encounter any problem when the path does not start from root (slash)?

[2016-03-14 20:21] jorgevbo opened #136 "Gem error using RVM ruby-2.0.0-p643"
Hi,

I'm getting next error after execute bundle install in Rails:

Gem::InstallError: config requires Ruby version >= 2.2.2.
An error occurred while installing config (1.1.0), and Bundler cannot continue.
Make sure that `gem install config -v '1.1.0'` succeeds before bundling.

I'm using default version en Gemfile:

gem 'config'

[2016-03-15 16:14] ArtemDordovskiy commented on #136
I've fixed it by adding version

gem 'config', '1.0.0'

[2016-03-15 17:24] DannyBen commented on #136
I am also getting this error, and also locked version to "< 1.1.0" - but this is not a fix.
I could not find anywhere in the changelog / readme that the compatibility changed to >= ruby 2.2.2 - so I guess this is an unintentional bug?

[2016-04-02 04:40] jacquescrocker opened #138 "Feature idea: ENV overrides when not on Heroku"
I'm using Config on an environment that isn't heroku. Doesn't look like there's a good way to utilize `use_env` config, since ENV vars on linux can't have `.` in them.

Idea: automatically check for ENV vars with `__` in place of the `.` (if there's none already found with the `.`)

example:

[code]

[2016-04-11 15:33] philrosenstein commented on #136
Same problem here.  Ruby 2.2.1 does not satisfy dependencies..

[2016-04-20 07:09] vanhuyz opened #140 "Add support for Ruby range type in YAML configuration files"
Hi,

I think it would be more helpful if we could define a range in the configuration files.
Currently, it returns a string instead of a range.

For example,

[code]

[code]

Even with embedded Ruby, the result is still the same:

[code]

[code]

[2016-04-21 10:04] xHire commented on #133
You're right that there's very small probability that it could match some unrelated files. I can imagine `/test/fixtures/files/config/settings.local.yml` or something like that. :c) But for purity, the slash should definitely be there. Because **if** it happens, it might be tricky to track down the reason.

[2016-04-21 10:05] xHire commented on #133
You're right that there's very small probability that it could match some unrelated files. I can imagine `/test/fixtures/files/config/settings.local.yml` or something like that. :c) But for purity, the slash should definitely be there. Because **if** it happens, it might be tricky to track down the reason.

[2016-04-21 10:05] xHire commented on #133
You're right that there's very small probability that it could match some unrelated files. I can imagine `/test/fixtures/files/config/settings.local.yml` or something like that. :c) But for purity, the slash should definitely be there. Because **if** it happens, it might be tricky to track down the reason.

[2016-04-21 10:16] pkuczynski commented on #133
The thing is that you want the local files not to be comitable, as they only for local developer :)

[2016-04-21 10:16] #133 closed

[2016-04-21 11:25] xHire commented on #133
Exactly. :c) But this gem should affect only files relating to this gem. That's why slashes should be there.

[2016-05-10 11:25] stefanahman commented on #136
@pkuczynski Add a new tag for Ruby version downgrade? Current master has no tag.

[2016-05-11 15:31] pkuczynski commented on #136
Actually the current stable and maintained versions are listed here: https://www.ruby-lang.org/en/downloads/

* 2.1.9
* 2.2.5
* 2.3.1

Although Config does not require latest Ruby version and I made this change accidentally. I already fixed that on March 26th but did not released it, so let me do it now as v1.1.1

[2016-05-11 15:32] pkuczynski commented on #136
Done. Please use version 1.1.1

[2016-05-11 15:32] #136 closed

[2016-05-12 09:32] #108 closed

[2016-05-12 09:38] pkuczynski commented on #138
Fixed by #125. Released in version 1.2.0

[2016-05-12 09:38] #138 closed

[2016-05-12 10:48] pkuczynski commented on #140
I think this is pretty good idea. I will try to pick it up in the future, unless there is some other volunteer?

[2016-05-12 11:07] pkuczynski commented on #77
This is the same issue as described in #43. I will have a look...

[2016-05-12 11:31] pkuczynski commented on #71
I think adding an option per section is too much and overcomplicated. What we could do is (based on a setting) assume that certain naming convention should make individual setting read only. One way would be to follow Ruby const convention by writing read-only settings using CAPS. What you think?

[2016-05-12 11:36] pkuczynski commented on #90
I am not entirely sure what would you like to achieve here? Settings is for reading values, so why would you expect `bar` to be a method which you can call?

[2016-05-12 12:24] pkuczynski commented on #91
ERB syntax should already work in YAML files, however you would not be able to reference other elements of YAML inside the same file. You can only define YAML aliases and refer to them in other places (http://yaml.org/YAML_for_ruby.html#aliases_and_anchors), but this would not achieve what you expect.

The only way I can see this working is storing separate setting and implementing gluing logic in

[2016-05-12 12:24] #91 closed

[2016-05-12 12:43] pkuczynski commented on #105
I see what you mean, but this is against the "split config into separate env-based files" idea which was the merit for this gem. You should store all common and default bitty settings in `config/settings.yml` file and override only some of them when needed for a particular env.

[2016-05-12 12:43] #105 closed

[2016-05-12 12:46] pkuczynski commented on #109
I am closing this one due lack of the feedback from reporter and low probability of this issue caused by config gem.

[2016-05-12 12:46] #109 closed

[2016-05-12 12:51] pkuczynski commented on #140
Have you tried the standard YAML feature http://yaml.org/YAML_for_ruby.html#ranges

[code]

I know it is not the cleanest one, but already supported by YAML parser in Ruby...

[2016-05-12 13:03] pkuczynski commented on #123
This is against the "split config into separate env-based files" idea which was the merit for this gem. You should store all common and default bitty settings in config/settings.yml file and override only some of them when needed for a particular env.

This issue is also a duplicate of #105

[2016-05-12 13:03] #123 closed

[2016-05-12 13:08] pkuczynski commented on #124
Settings constant is a singleton shared across all request to your Rails app. That means it would load your client config once when the server starts (single Rails server instance serving single client). Is this what you are trying to achieve?

In contrast you might want to apply custom client settings per every request, so one server can respond to multiple clients...

[2016-05-12 13:11] pkuczynski commented on #131
This is not needed. However settings file are per their nature static so we optimised towards application runtime and they are loaded only once when your application server starts. This means that when you modify yaml file, you need to restart the server.

[2016-05-12 13:11] #131 closed

[2016-05-12 13:13] pkuczynski commented on #135
I think developers should only create `*.local.yml` files if they really need them to customise to their local env. You would never be able to stop people from making customisations which they do not push to the repo. That's why they should be caught by the CI environment which holds verifiable and correct configuration.

[2016-05-12 13:19] pkuczynski commented on #112
Populating settings back to Rails.configuration is possible but would requite quite some effort and I think it's pointless. Although Rails allows custom configuration for their default Rails.configuration object, one should decide if the default Rails behaviour is enough for him, or he would rather need some extra functionality and use gem like Config (or many others available).

If one decide to

[2016-05-12 13:19] #112 closed

[2016-05-12 13:48] franzliedke commented on #135
Hmm, I disagree. But that's probably because these settings can be used for so many different things.

Can we at least get some kind of option that allows us to turn this off in the test setup scripts?

[2016-05-12 14:40] dudo commented on #90
Are you familiar with the I18n locales? Same reason. Being able to inject
something into the middle of a value.

On Thursday, May 12, 2016, Piotr Kuczynski <notifications@github.com> wrote:

[2016-05-12 14:58] pkuczynski commented on #135
I could add that option. If I understand correctly you want to protect yourself from situation where developers makes amendments in .local.yml files for test environments, which makes tests out of sync with your main CI environment, correct?

But then imagine a situation where developers would keep modifying .yml files directly, if you do not allow them to modify .local.yml. There must be a reason

[2016-05-12 15:36] franzliedke commented on #135
We once had specs that tested the default values for certain config variables. Haha, maybe that's not the best example... ;)

More importantly, we do use config sometimes for data that doesn't need an admin interface (yet), so that's always specific per deployment / environment. Also, we sometimes test certain adapters locally, so that warrants having a non-default value in a `.local.yml` file.

I

[2016-05-12 15:46] pkuczynski commented on #90
Do you mean calling `t('welcome.text', myvar)`? then i18n YAML file is static, but they use I18n module method to inject variables:

http://guides.rubyonrails.org/i18n.html#passing-variables-to-translations

Unless I am missing something here?

[2016-05-12 15:51] dudo commented on #90
Sure. But I use rails config to have different words/values per
environment. Locales don't work for me there, unless I chunked them
together under the env name, I guess...

Config uses erb... But no thoughts on passing an argument, huh? I guess it
could be overkill. Thanks for the time, you can close.

On Thursday, May 12, 2016, Piotr Kuczynski <notifications@github.com> wrote:

[2016-05-12 15:58] pkuczynski commented on #135
Fair enough, I could put that on the roadmap, but can't promise how quickly I can work on that. If you need it quick, you are welcome to send PR or make some donation to sponsor this feature...

[2016-05-12 16:03] pkuczynski commented on #90
I believe if you need extrapolate the setting value, you should to that on the code level, as I can only imagine the value you need to pass would have to be provided in run-time...

We could obviously add a method like `Config.read('welcome.text', myvar)`, which you could call instead of `Config.welcome.text`, if thats what you are looking for? But I am not entirely sure of this is the right appro

[2016-05-12 16:03] #90 closed

[2016-05-17 13:17] vanhuyz commented on #140
@pkuczynski: Yes, it works! Thank you!

[2016-05-17 15:56] pkuczynski commented on #140
I must say it's far from being ideal and readable, but I am not sure if it's worth to monkey patch YAML loader or process the settings using regexp? What you think?

[2016-05-26 15:37] pkuczynski commented on #120
This issue is not valid in Config case, as we do not use to_hash method but directly call DeepMerge.merge!

[2016-05-26 15:37] #120 closed

[2016-05-26 23:16] 9mm commented on #126
Same

[2016-05-28 10:52] altmer opened #145 "In Readme it should be 'Config::Integrations::Rails::Railtie.preload'"
Currently in readme it says that in order to use config in initializers you should use code

[code]

when actually it should be (with -s)

[code]

[2016-05-31 13:27] pkuczynski commented on #145
Fixed in #146 by @kris

[2016-05-31 13:27] #145 closed

[2016-06-01 09:09] pkuczynski commented on #126
I dbl checked that issue as well as #44 and I can not reproduce the problem. I created this basic example of Rails 4.2 application with Config installed:

https://github.com/railsconfig/config-rails-4.2

It seems all is working without any issue. Please let me know what I am missing here or create PR for this repo to illustrate the issue your are experiencing...

[2016-06-01 09:29] pkuczynski commented on #145
@altmer, using `preload` mentioned in the README should not be required anymore, as Config should be loaded before Rails configuration. Example basic Rails app illustrating this case is presented on this repo: https://github.com/railsconfig/config-rails-4.2

I am writing to you, as I assume you used the README suggestion in you application. Could you please remove it from your app and check it tha

[2016-06-01 10:22] pkuczynski commented on #111
I updated the rails integration code like @YaroSpace suggests and pushed to the repo (no new gem release yet, so you would have to test it referencing github repo).

The description in README about manually loading preload should not be valid anymore IMHO, as the config should load by default before Rails application configuration. See #145

If someone could test and confirm, it would be awesome!

[2016-06-01 12:01] pkuczynski commented on #78
I can not reproduce this issue. Please check https://github.com/railsconfig/config-rails-4.2 which implements example provided by you without any issues...

[2016-06-07 08:39] pkuczynski commented on #13
There is an open PR on deep merge gem: https://github.com/danielsdeleo/deep_merge/pull/20

[2016-06-15 22:25] chrishough commented on #111
I recently started getting the same error:
[code]
Example Code
[code]

However, if I take this out completely it appears to work.  Do we need this setting anymore?

[2016-06-28 02:28] jeremyhaile commented on #121
I am getting this bug on JRuby 9.0.1.0

[2016-07-10 19:13] MityaLiu commented on #121
+1

[2016-07-31 04:42] emmx opened #148 "Use RbConfig instead of obsolete and deprecated Config"
In jRuby (9.0.5.0 (2.2.3)) at least, the following error is thrown:

[code]

This is due to Config being used in [config/compatibility.rb](https://github.com/railsconfig/config/blob/master/lib/config/compatibility.rb#L1), line 1.

A workaround would be to use **Kernel.config_defined?** instead of **defined?**.

[code]

[2016-08-15 07:37] batizhevsky opened #149 "to_hash uses marshal_dump, incrorrect for integer keys"
I have integer keys in my Yaml config,  and if I use to_hash they are converted to symbolys
to_hash
`=> {:"79"=> "Value"}`

[2016-08-17 07:08] batizhevsky commented on #149
Ok, I've dug that it not simple YAML, and I must to use special types.
From test example:
[code]

[2016-08-17 07:08] #149 closed

[2016-09-05 10:05] toncid opened #150 "Freeze strings automatically?"
Hello,

Ever considered making config strings frozen by default?

By not freezing them, subtle issues are possible with the config object:

[code]

I strongly believe that configuration fields should be immutable, so I'm wondering why they're not.

[2016-09-13 14:06] pkuczynski commented on #150
Well, we could freeze them up, but the idea was, that config can be updated live, without reloading the app.

[2016-09-13 14:10] toncid commented on #150
Not much of a config, if it behaves like a variable, huh?
Shouldn't the config object represent read-only, constant-like fields that can be modified externally (in .yml files), but remain unchanged while the app is running?

[2016-09-13 15:35] pkuczynski commented on #12
This has been fixed in #137

[2016-09-13 15:35] #12 closed

[2016-09-14 11:10] pkuczynski commented on #150
Well, probably it should. I am planning to rewrite this part of code also in the light of #122. I believe Config should be a singleton, don't you?

[2016-09-14 12:31] toncid commented on #150
I agree. I didn't even think that calling `Settings.my_config` actually refers to a mixed-in module on the `Object` class.

[2016-09-21 20:36] nadavshatz commented on #121
+1

[2016-10-07 09:20] Persader opened #152 "Disable embedded ruby"
Hi,

I'm looking for a way to disable embedded ruby in configuration files. Is it actually possible ? If not, could you please add an option to ?

Many thanks

Leo

[2016-10-07 09:26] pkuczynski commented on #152
What exactly do you mean? I don't follow you...

[2016-10-07 09:32] Persader commented on #152
Considering this yaml file :
key : "<%= datas['actor'] %> is following you"

When I load it with Config.load_and_set_settings(config_files) it raises an error :
Uncaught exception: undefined local variable or method `datas' for main:Object

I would like to load this file without evaluating datas['actor'] bevause I evaluate it later with local datas.

[2016-10-07 10:10] pkuczynski commented on #152
Feels like you are missusing Config. Why don't you store this string in i18n?

[2016-10-07 14:15] Persader commented on #152
You're right but I'm working on an existing project so this was wrote like that :(

I will extract all theses properties to another file.

[2016-10-07 14:15] #152 closed

[2016-10-07 14:22] pkuczynski commented on #152
I really think it is better to cut it off config, as they don't look like a config related values :)

[2016-10-07 14:28] Persader commented on #152
Yes you're right but it requires a long time refactoring :) I add it to my TODO list ;)

For the moment I just need to import some yaml config file from another project.

[2016-10-09 02:44] bastengao opened #153 "Need overwrite_arrays options feature release"
I see overwrite_arrays options feature in master, but not released. Because dependency gem deep_merge overwrite_arrays is false default, I can't set that option in other ways.

[2016-10-10 11:16] pkuczynski commented on #153
I released this as version 1.3.0 on September 14th. Are you sure you are using correct version?

[2016-10-10 12:13] bastengao commented on #153
Excuse me, I only saw the last release of github is `1.2.1`. Thanks 😸

[2016-10-10 12:13] #153 closed

[2016-10-10 13:29] pkuczynski commented on #153
Forgto to make GH release :) Fixed now :)

[2016-10-12 14:44] ingolfured opened #154 "bundle exec rake config:heroku not working"
After installing the gem (version 1.3.0 on Rails 5.0.0.1), setting it up and getting everything up and running, I try to run

[code]

but I get the following output

[code]

Do you guys know what could be missing?

[2016-11-09 16:59] Mirigan opened #156 "Could not find generator 'config:install'"
Hi,
I just install the gem and when I try to use "rails g config:install" I get the message

I'm working with rails 5 and the gem's version 1.3.0

[2016-11-10 10:28] pkuczynski commented on #156
@Mirigan why did you closed it? Is the problem solved?

[2016-11-10 10:30] Mirigan commented on #156
Yes I don't know why but when I retry this morning the command worked

[2016-11-10 10:31] pkuczynski commented on #156
I see. Interesting...

[2016-11-11 17:07] milushov opened #157 "Seems to be not working in the test environment"
Hello

I have `config/settings.yml`:
[code]

`config/initializers/config.rb`:
[code]

[code]

[2016-11-18 11:25] patdec commented on #134
Do you launch your app server via 'rvmsudo' ?
I use myself default Rails web server in development environment and I execute it with this command:
[code]

In this case if you want to use your env variables, you have to prefix its with 'PATH' like this:

[code]

It works fine

[2016-11-24 02:07] gamov commented on #154
I have a similar problem. When I run the command, I get the following exception:

[code]
I have to add the global namespace to the Rails class (::Rails) in the method vars for it to work:
https://github.com/railsconfig/config/blob/v1.3.0/lib/config/integrations/heroku.rb#L17

With Rails 5.0.0.1, config gem 1.3, bundler 1.13.6 (1.12.6 too) and ruby 2.2.4

[2016-12-12 13:35] #157 closed

[2017-01-04 13:41] smoyth opened #162 "Inconsistent documentation for ENV prefix"
I believe these are the correct settings for bash-style env vars:

[code]

Note that env_prefix needs to be all uppercase. What is there now is `Settings`, which doesn't work for me.

Thanks for such a great gem!

[2017-01-07 16:05] gipcompany opened #163 "rails g config:install's .gitignore"
Below is just a tiny question.

`rails g config:install` introduces the following `.gitignore`'s diff.

[code]

However, to be more correct, slashes on the top are necessary like below, aren't they?

[code]

[2017-01-13 14:25] pkuczynski commented on #163
I don't think they are. The paths would be relative to location of `.gitignore`.

[2017-01-13 14:25] #163 closed

[2017-01-13 15:07] gipcompany commented on #163
@pkuczynski

Oops, I think this issue seems not cleared yet. Just to make sure your intension, to let the paths relative to location of `.gitignore`, the slashes are necessary. Do you know the difference between the case w/ and w/o slashes on the top?

[2017-02-04 01:16] fuminori-ido opened #165 "settings*yml and spring preload"
When I use railsconfig with rails5, "rails runner" doesn't have latest config/settings*yml values in development mode.

My workaround is to add settings*yml in config/spring.rb as follows:

[code]

Q1) Is this right way?
Q2) Spring is default bundled since rails 4.1, and if some additional configuration is required to use railsconfig with rails as above, could you mention the way to README.md ?

[2017-03-14 23:57] bessey opened #166 "Nested booleans cannot be overwritten to false"
Steps to reproduce:
[code]

[code]

This bug has caught me several times and seems highly unintuitive.

[2017-03-24 22:17] 3den commented on #80
@jacquescrocker it would be nice to have it as a config, following rails standards. The current approach works but fells weird coz it has to load, add more files, and reload again.

[2017-03-25 15:10] dzjuck opened #168 "Can't put ActiveSupport::Duration to settings"
May i put `ActiveSupport::Duration` to settings?

[code]

I already found a way to use a value from settings as Fixnum:
[code]

But access without additional method will be nicier.

[2017-03-27 19:20] pkuczynski commented on #168
Config only accepts basic types. Putting `<%= 1 hour %>` would actually evaluate it into the value 3600 as you observed. So you would have to call `ActiveSupport::Duration.parse(Settings.timeout)` to get what you expect...

[2017-03-27 19:46] dzjuck commented on #168
@pkuczynski Thanks for explanation. Should i close this issue?

[2017-03-27 20:47] pkuczynski commented on #80
@3den feel free to create new issue and describe your approach in more details.

[2017-03-27 21:40] pkuczynski commented on #168
I believe so. RailsConfig only works on basic types. We could consider extending the syntax to support form:

[code]

If you think it is worth it? It would not support any kind of operations and would allow entering basic values. Not sure if that's worth the effort? It would also slow down a bit config load as it would need to regexp every setting searching for that...

Another option would be to

[2017-03-29 08:59] #168 closed

[2017-04-25 16:20] pkuczynski commented on #13
I made a mistake. In fact, https://github.com/danielsdeleo/deep_merge/pull/33 solves this issue, not https://github.com/danielsdeleo/deep_merge/pull/20

[2017-05-05 18:24] Fryguy opened #170 "Disallow assignment"
I'm thinking it would be really useful if there was a way to configure Config::Options to not allow assignment or to raise an exception.  We've had cases where developers didn't realize the settings wouldn't persist, and did `Settings.the_setting = 42`, which happily works and moves on.  This is particularly painful in tests because then we would get test contamination across tests since the Setti

[2017-05-05 18:25] Fryguy opened #171 "Raise on non-existent key"
Another useful feature might be an option that instead of returning nil on a non-existent key, would instead raise an exception.  I feel this could be similar to Hash#fetch.

cc @cben

[2017-05-31 02:34] aspirewit commented on #171
@Fryguy You can use the validation, [more details](https://github.com/railsconfig/config/pull/155)

[2017-06-02 04:15] yuanping opened #174 "Is that possible using variable in settings.yml"
I want to implement this:
[code]
I am using this method now, but I feel this method is not good :(
[code]
What is the best practice?

[2017-06-02 09:45] pkuczynski commented on #174
You could do that as config is passed via ERB engine. But I think it would be easier to specify it as clean text... Up to you really...

[2017-06-02 09:45] #174 closed

[2017-07-10 13:42] chrishough opened #176 "Rspec >=3 Testing"
First I want to say I have been a huge fan of this gem for years now. I love it!

However, I am running into a slight issue when I try to test around it though using the new Rspec 3 syntax.  Has anyone been able to use `allow().to` over the values set in the config hash to set tests against them regardless of how they are set in the yaml files? Is this possible? The only way I have been able to pu

[2017-07-11 06:40] chrishough commented on #176
Solved.

[code]

[2017-07-11 06:40] #176 closed

[2017-08-07 08:19] hulkakshay commented on #32
i am facing the same issue, here what happens when is run..
bundle exec rake daemons:start

rake aborted!
Bundler::GemRequireError: There was an error while trying to load the gem 'mysql2'.
Gem Load Error is: uninitialized constant Mysql2::Client::SECURE_CONNECTION
Backtrace for gem load error is:
/home/viru/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/mysql2-0.3.15/lib/mysql2/client.rb:12:in `<

[2017-08-07 08:21] hulkakshay commented on #32
Does the issue is because of ubuntu 16.04 as the peatio installation has mentioned that it officially supports

    Ubuntu Linux 14.04 LTS
    Mac OS X Mavericks

[2017-08-29 18:50] adamkiczula opened #178 "Support booleans with env_parse_values"
This is more of a feature request, but if you have a config like `something: true` and then override it with an ENV variable `SETTINGS__SOMETHING=false` the setting becomes "false" which is still truthy. I wonder if there's an eloquent way to make these values a boolean, or if that isn't an option, update the readme to explicitly call out not to use boolean configs as there will be no way to overr

[2017-09-14 02:52] stephenhmarsh commented on #178
fwiw i have used this erb pattern successfully in yml files:

`something: <%= ENV['SOME_FALSE_VARIABLE'] %> || true`

it will correctly read that variable as `false`, and not something truthy like `"false"`

[2017-09-15 14:04] jcoyne commented on #171
@aspirewit I'm not sure validations would work in every case.  For example I have a configuration like this:

[code]

Now I might want to resolve:
[code]

[2017-10-11 18:53] amyin commented on #171
+1 I would also love run-time errors on non-existent keys, something like a ENV.fetch

[2017-10-12 19:09] cben commented on #171
https://github.com/obrok/closed_struct may be useful for implementing this.

[2017-10-13 09:29] pkuczynski commented on #171
Interesting, but I have no time to work on this at the moment...

[2017-10-23 15:15] mjgiarlo commented on #178
@adamkiczula @stephenhmarsh See https://github.com/railsconfig/config/pull/180. Should be merged soon, and hoping 1.6.0 can be released thereafter.

[2017-10-23 15:16] mjgiarlo opened #181 "Push tag for 1.5.0 release"
It appears as though the 1.5.0 release was cut without the `v1.5.0` tag having been pushed (or created).

[2017-10-23 15:34] #178 closed

[2017-10-23 16:04] mjgiarlo commented on #181
This is now done.

[2017-10-23 16:04] #181 closed

[2017-11-03 09:54] #43 closed

[2017-11-03 09:54] #77 closed

[2017-11-03 09:54] #171 closed

[2017-11-04 09:37] fatmcgav opened #184 "Undefined method 'delegate' when used with Padrino 0.14"
I'm trying to use `Config` with Padrino 0.14.

I've added the entry to the Gemfile and added the `register Config` line to `app.rb`.

However when I try and start Padrino, I get the following exception:
[code]

Any ideas?

[2017-11-06 03:12] yhatt commented on #184
I have met this error too. `#delegate` is the feature of ActiveSupport so config fails in not rails environment.

...but I'm using rails. Our project is loading config earlier than initializing rails, for using config together with encrypted secrets. It would raise same error in that timing because ActiveSupport have not loaded...

I'm trying to fix it in #185.

[2017-11-07 09:44] #184 closed

[2017-12-13 23:10] kapso opened #187 "Settings const name is not available right after Config.setup"
I am trying to access `Settings` const name in `config.rb` right after `Config.setup`, but getting an error?

`*/initializers/config.rb`
[code]

[2017-12-17 13:02] nazarhussain opened #188 "const_name Override is not working"
Hi,

I have following config in my file

[code]
when called for configurations, it says;

[code]
Although settings still persist in `Settings` constants and available.

I am using Rails 5.1.4.

[2018-01-06 16:38] danieldekay commented on #154
Having the same problem.

[2018-01-10 22:02] malakai97 commented on #126
This is actually very bizarre:

[code]

[2018-01-10 22:43] malakai97 opened #189 "NameError for Kernel::Settings when the global const Settings is already defined."
This bug occurs in line 55 of lib/config.rb when the constant `Settings` is already defined, but somehow Kernel::Settings is not. I am not 100% clear on how to achieve this scenario. The culprit in my setup seems to be the configliere gem which is loaded by a dependency of my project.

The specific issue is that `const_defined?` has default behavior (`inherit=true`) that also searches Object.

[2018-01-22 19:21] ahcarpenter opened #192 "uninitialized constant Config (NameError)"
This is on boot with the generated initializer.

Running Ruby 2.4.1 and Rails 5.1.4

[2018-01-27 01:40] ojbucao opened #194 "Is there away to stop it from turning the keys into symbols and leave however it is in the yaml file?"

[2018-01-28 13:02] vishalvijay opened #195 "Could not find generator 'config:install'"
`rails g config:install` is showing:

[code]

Result of `rails generate --help` shown below

[code]

## Environment

- Ruby **2.5**
- Rails **5**

[2018-01-28 13:07] vishalvijay commented on #195
It worked after killing all running spring process

[2018-01-28 13:07] #195 closed

[2018-02-04 22:17] malakai97 opened #198 "Specs rely on test order"
## Description

Running the specs in a random order results in multiple failed specs, depending on the order's seed.

## Rubies

* 2.3.4
* 2.4.2 - appraisal will not run the entire suite regardless of errors encountered

## Steps to Reproduce

1. git clone, etc
2. `bundle install`
3. `appraisal install`
4. add `--order random` to the `.rspec` file
5. `appraisal rspec`

### Seeds which are known to

[2018-02-08 13:05] pkuczynski commented on #188
I added Rails 5.1.5 to then testing scope in #200 and it seems it all works well. Could you check again please?

[2018-02-08 13:44] #13 closed

[2018-02-08 14:48] pkuczynski commented on #198
If you willing to help, you are more then welcome! :)

[2018-02-15 11:27] oronski opened #202 "Ready for Rails 5.1.5 ?"
Is gem ready for  Rails 5.1.5 ?

[2018-02-15 11:28] pkuczynski commented on #202
Checking...

[2018-02-15 11:36] #202 closed

[2018-02-15 11:37] pkuczynski commented on #202
I upgraded deps and run the tests. All looks fine. See 2439d5a

[2018-02-24 09:30] ysyyork opened #203 "Specify custom files during initialization"
From the doc, I know I can add custom config files during runtime but I want to add additional files during initialization. I looked at the source code and notice that right now it hardcoded 6 files. I'm think adding an additional parameter in the config setup so that user can pass in custom files during initialization. Do you guys think this worth working on? I'm can make a pr for this.

[2018-02-24 10:36] #203 closed

[2018-03-25 17:25] movstox commented on #154
Using hacked version as `lib/tasks/heroku.rake` for now:
[code]

[2018-03-25 18:26] pkuczynski commented on #154
@movstox maybe you might prepare a PR fixing the issue?

[2018-03-25 19:59] movstox commented on #154
@pkuczynski can give it a try if you have time to review ;)

[2018-03-25 20:32] pkuczynski commented on #154
Sure! :) Have limited time to work on the gem, but usually review pr quite quickly.

[2018-04-19 06:47] yoonwaiyan opened #204 "uninitialized constant Settings in Rails 5"
Settings seems to have problem with Bootsnap which is included by default in Rails 5.2.

[code]

Update:
Doesn't work after disable Bootsnap:
[code]

[2018-04-23 08:54] AmirolAhmad commented on #204
facing the same problem

[2018-05-16 10:02] yo-it-engineer commented on #204
not sure if it will help, can you try calling `::Settings` instead of `Settings` ?

[2018-05-23 14:37] DonGiulio opened #205 "no implicit conversion of Symbol into Integer when config.use_env = true"
Hello,

I found this problem with a specific combination of ENV variables like:

[code]

When iterating on the second env variable [lib/config/options.rb](https://github.com/railsconfig/config/blob/master/lib/config/options.rb#L62) raises  `no implicit conversion of Symbol into Integer` when trying to find `leaf[keys.last]` but leaf is a string containing `development`.

My workaround for this is

[2018-06-28 20:04] wolfgangrittner commented on #204
Weird, I'm using config 1.7.0 with a number of Rails 5.2 projects, and it's working fine. Could you provide the sources of (demo) app that's having that issue, that might help reproducing the issue you're seeing?

[2018-06-29 01:58] yoonwaiyan commented on #204
After facing this problem in two of my projects, I found out what doesn't work. Probably not related to any Rails version but the way settings file is written, i.e. calling `Settings` inside `config.yml`. I was trying to dig out the source code to see why Settings is not loaded only to found out that I'm calling `Settings` inside the yml file: `url: <%= "#{Settings.https ? 'https://' : 'http://'}#

[2018-06-29 01:58] #204 closed

[2018-07-09 23:56] sgnl commented on #92
I ran into this and with guidance from the accepted answer on this Stackoverflow [question](https://stackoverflow.com/a/30270376/2612640).

I had to kill the spring process running in the background. Once I did, the Settings constant updated its values.

Then I added the code mentioned by `gauthier-delacroix` and it's working now without having to manually fuss with Spring.

Thanks!

[2018-07-11 15:43] baarde commented on #122
Regarding the problem of exposing `Settings` in every module, I think you can fix that by replacing `Kernel` with `Object`.

[code]

See [Stack Overflow: Ruby, how to reference Root namespace?](https://stackoverflow.com/questions/21263054/ruby-how-to-reference-root-namespace)

[2018-09-20 20:33] vladhadzhiyski opened #206 "Issue with merging (merge!)"
Merging doesn't seem to work. Can someone investigate? My expectation after executing `merge!` is the `disable_farmer_deassignment` value to be returning true and NOT false. If you try this example in ruby, it returns `true` but not in the case below.

Is this a bug or that's something expected?

[code]

[2018-10-18 20:35] gs2589 opened #207 "Hierarchy not working as expected"
I have the following setup:
---------------

**app_dir/config/settings/development.yml**
`dev_setting_1: "hello_dev"`

**app_dir/config/settings/production.yml**
`prod_setting_1: "hello_prod"`

**app_dir/config/settings.yml**
`gen_setting_1: "hello_world"`

**app_dir/config/settings.local.yml**
`local_setting_1: "hello_local"`

When I run **production env**
`DISABLE_SPRING=true rails c production`

[2018-10-22 17:51] gs2589 commented on #207
This was resolved. The issue is we had inadvertently added

`Settings.reload_from_files(
    Rails.root.join('config', 'settings.local.yml').to_s,
    Rails.root.join('config', 'settings', "#{Rails.env}.local.yml").to_s,
    Rails.root.join('config', 'environments', "#{Rails.env}.local.yml").to_s
  )`

In `config/environments/development.rb`

[2018-10-22 17:51] #207 closed

[2018-10-29 10:23] kule opened #208 "Incorrect environment using rails 5 system tests"
Just posting this incase someone else has this - I current gem doesn't appear to be threadsafe, when running the new rails system tests (with rspec) I'd consistently get failures when running the full test suite.  Investigating with pry I'd find that the Settings object was showing the incorrect settings for the current environment - it's like it hadn't merged the current envs settings.

I created

[2018-10-29 10:34] pkuczynski commented on #208
Maybe you would like to prepare a PR? I am not working with Ruby anymore for the last 3y... :(

[2018-11-29 07:01] imrasp opened #209 "Is it possible to create a page to edit value in config file"
It' might be a simple task but cuz I am a newbie web developer I cannot slove this myself. could you please suggest me with some example.

[2019-01-16 00:40] yb66 commented on #118
Hi there,

I just had a look at this library and as a heavy Sinatra user the first thing I thought was that `Settings`  will inevitably cause problems with Sinatra's own configuration accessor, `settings`. If I'm going to use this I'd run a fork based on that alone. Imagine differentiating variables based on case! (o_º)

Regards,
iain

[2019-01-16 10:02] pkuczynski commented on #118
I think we already have Sinatra as part of our test scope and it seems to work fine with current setup...

[2019-01-16 10:35] yb66 commented on #118
@pkuczynski Fair enough, I'm just saying that it looks like the kind of thing that if another dev on a team came to me with two vars only differing by case then I'd be worried that a bug will appear. Seems like an accident waiting to happen.

Regards,
iain

[2019-02-26 05:44] rjayroach commented on #188
Same issue with Rails 6.0.0.beta1

[2019-03-04 14:56] thomas-mcdonald opened #217 "Config::Options: to_hash and to_h have different behaviour"
I would expect `to_h` and `to_hash` to have the same behaviour, however looks like this gem only overrides the definition of `to_hash` and does not alias that definition with `to_h`.

[code]

Happy to file a patch with the alias - just wanted to check this wasn't the desired behaviour.

[2019-03-04 15:00] nerfologist commented on #189
Also having an issue with this gem in combination with the `create-api-gem` which I believe to be the same as this one.

The `create-api-gem` also happens to define a `Settings` constant.

This is the error
[code]

[2019-06-11 20:32] tomhughes opened #222 "dry-validation 1.x moves schema support to dry-schema"
Updating to dry-validation 1.x (which the gem spec allows) breaks config when `config.schema` is used with:

[code]

It appears that the schema support has been moved to a new `dry-schema` gem so I guess some tweaking is needed to support that...

[2019-06-13 08:55] #222 closed

[2019-06-20 12:03] rdubya commented on #121
This doesn't appear to be an issue in newer versions of JRuby. I'm going to close this since version 2.0 will support only JRuby 9.2+

Feel free to reopen if anybody is still experiencing this issue on newer versions.

[2019-06-20 12:03] #121 closed

[2019-06-20 12:04] pkuczynski commented on #121
@rdubya whenever closing issue, please assign to the latest milestone...

[2019-06-20 12:04] pkuczynski commented on #121
Should we mention in README, that we only support JRuby 9.2+ from 2.0?

[2019-06-20 12:10] rdubya commented on #121
Sorry about that, I'll keep that in mind for the future. I figured since it doesn't look like JRuby is officially supported at this point that the README didn't need updated. I was hoping to get JRuby added to the travis matrix at some point. Would it be ok to leave it off of the README until then?

[2019-06-20 16:20] pkuczynski commented on #121
Sure! Just created #228 to see how it behaves.

[2019-06-22 02:03] pkuczynski commented on #122
Fixed

[2019-06-22 02:03] #122 closed

[2019-06-27 19:42] pkuczynski commented on #217
@rdubya what you think?

[2019-06-28 01:02] rdubya commented on #217
I don't have much experience with implementing these types of methods, but based on this article (https://zverok.github.io/blog/2016-01-18-implicit-vs-expicit.html) it seems like to_h should probably be the one that people should be using, so I'm good with aliasing it.

[2019-06-28 18:48] pkuczynski commented on #217
@thomas-mcdonald would you still be willing to provide PR for this issue?

[2019-06-28 18:49] pkuczynski commented on #209
I don't really understand what you want to achieve?

[2019-06-28 18:49] #209 closed

[2019-06-28 18:50] pkuczynski commented on #208
With the changes from #230 this should not be an issue anymore. @kule would you like to test and confirm?

[2019-06-28 18:51] #208 closed

[2019-06-28 19:17] pkuczynski commented on #205
@DonGiulio would you like to provide a PR with updated documentation?

[2019-06-28 19:18] #194 closed

[2019-06-28 19:18] pkuczynski commented on #192
@ahcarpenter is this still and issue for you?

[2019-06-28 19:19] pkuczynski commented on #189
We dropped from defining config as Kernel variable. @nerfologist and @malakai97 can you check if this issue is still valid?

[2019-06-28 19:20] pkuczynski commented on #188
@rjayroach and @nazarhussain is still an issue for you?

[2019-06-28 19:21] pkuczynski commented on #187
This should be fixed now. @kapso can you check again?

[2019-06-28 19:22] pkuczynski commented on #170
@Fryguy I think we already solved it by moving to instance variables (instead of class variables). Can you check again?

[2019-06-28 19:24] pkuczynski commented on #166
@bessey could you maybe create a test for this? Then we can confirm and fix it.

[2019-06-28 19:25] pkuczynski commented on #165
@rdubya what you think?

[2019-06-28 19:25] pkuczynski commented on #162
@rdubya what you think?

[2019-06-28 19:26] pkuczynski commented on #150
@rdubya what you think?

[2019-06-28 19:27] pkuczynski commented on #148
I believe this has been already fixed by moving from Kernel to Class. @emmx would you like to have another look on this?

[2019-06-28 19:28] pkuczynski commented on #135
@franzliedke would you be keen to provide PR for this?

[2019-06-28 19:30] #140 closed

[2019-06-28 19:31] pkuczynski commented on #134
This issue seems to be resolved? Please comment if you feel we should re-open.

[2019-06-28 19:31] #134 closed

[2019-06-28 19:32] pkuczynski commented on #126
This issue does not seem to be valid anymore. Closing. Please comment if you feel it should be re-opened.

[2019-06-28 19:32] #126 closed

[2019-06-28 19:34] pkuczynski commented on #111
This seems to be fixed now. Please comment if you feel it is still not working properly.

[2019-06-28 19:34] #111 closed

[2019-06-28 19:35] pkuczynski commented on #15
@masterkain would you like to provide a PR for this?

[2019-06-28 19:36] pkuczynski commented on #58
@rdubya would you like to have a look at this one?

[2019-06-28 19:37] pkuczynski commented on #68
@rdubya would you like to have a look at this one?

[2019-06-28 19:37] pkuczynski commented on #71
Closing due lack of feedback.

[2019-06-28 19:37] #71 closed

[2019-06-28 19:38] pkuczynski commented on #39
Anyone willing to do a PR for this issue?

[2019-06-28 19:39] pkuczynski commented on #19
@rdubya could we pass YAML file trough ruby engine before loading it? This could be a nice feature, what you think?

[2019-06-28 21:53] nazarhussain commented on #188
@pkuczynski With following configurations it works for for me.

[code]

[2019-06-29 17:42] pkuczynski commented on #188
I guess we can close it then :)

[2019-06-29 17:42] #188 closed

[2019-06-30 18:51] pkuczynski commented on #217
@pyromaniac what you think about this one?

[2019-07-01 13:31] rdubya commented on #165
I don't use Spring so I don't really have any insight into this. I believe Rails 6 introduced a replacement for Spring so not sure if its worth dealing with at this point or not.

[2019-07-01 13:35] rdubya commented on #162
Looks like we should probably fix the default since the docs already say that the default is in all caps. That might be a breaking change though.

[2019-07-01 13:39] rdubya commented on #150
I think we could probably freeze them by default. I think the plan for MRI 3 is for all strings to be frozen by default. Should this apply to all types and not just strings, I guess that would potentially be a breaking change for anybody that does modify them at run-time. I agree that when I think of this gem, I see it as a way of defining static values on startup. There are other ways to generate

[2019-07-01 13:42] rdubya commented on #68
Rails 5 gets away from using secrets and now has a `credentials` file. It would be cool to have similar functionality built into this gem since it provides a much more flexible way of managing environment settings.

[2019-07-01 13:46] rdubya commented on #19
Doesn't it already get ran through ERB? Seems like this is an issue with dependencies not being loaded since those methods come from ActiveSupport iirc

[2019-07-01 13:52] toncid commented on #150
Well, you could consider adding a config flag and start preparing for the new scenario:

[code]

[2019-07-01 19:10] malakai97 commented on #189
I no longer have the configuration that first ran into this issue, but I can take a look if you tell me which branch/tag/commit to pull.

[2019-07-02 18:24] vedmant opened #232 "Problem with nested objects in yaml"
I have following settings.yml:

[code]

When I parse yaml manually I get expected result:

`puts YAML.load(File.read(Rails.root.join('config', 'settings.yml'))).inspect`

{"paper_urls"=>[{"type"=>"pubmed", "prefix"=>"https://www.ncbi.nlm.nih.gov/pubmed/", "regex"=>"\\/pubmed\\/([\\d]+)\\/"}, {"type"=>"doi", "prefix"=>"https://onlinelibrary.wiley.com/doi/", "regex"=>"(10.\\d{4,9}\\/[-._;()\\/:A-Z0-

[2019-07-08 10:11] franzliedke commented on #135
Done in #233.

[2019-07-08 13:16] l4cr0ss commented on #232
I am having this issue also

[2019-07-09 12:40] pkuczynski commented on #232
@rdubya @pyromaniac what you think guys?

[2019-07-11 14:09] #135 closed

[2019-07-12 16:20] supremebeing7 commented on #19
This already seems to work on 2.0.0, I just verified. Since this issue was filed 8 years ago, maybe @uberllama's version didn't support ERB?
However, I did run into a different issue that may be related: `max` and `min` appear to be reserved words and will behave unexpectedly.
[code]
[code]
I'm going to file a separate issue for that, but seems like this issue can be closed.

[2019-07-12 16:21] supremebeing7 opened #234 "`max` and `min` as settings names behave unexpectedly"
This is on version 2.0.0

Using `max` and `min` appear to be reserved words and will behave unexpectedly.
[code]

## Expected
[code]

## Actual
[code]

[2019-07-12 16:22] supremebeing7 commented on #19
https://github.com/railsconfig/config/issues/234

[2019-07-12 16:24] uberllama commented on #19
I can't remember what I had for breakfast this morning, let alone what bugs I had 8 years ago. 😂

[2019-07-12 16:25] supremebeing7 commented on #234
I assume this is happening because config groups are being treated in some way like arrays?
[code]

[2019-07-12 16:49] pkuczynski commented on #19
Hahaha, indeed :) Haven't noticed it's so old :) I will close this one and look into #234 separately.

[2019-07-12 16:49] #19 closed

[2019-07-12 17:23] supremebeing7 commented on #234
I think I've got a fix, it's just adding those to the `SETTINGS_RESERVED_WORDS`. I'll get a PR up in a second.

[2019-07-15 12:15] #234 closed

[2019-07-15 22:42] pkuczynski commented on #232
@supremebeing7 maybe you want to have a quick look?

[2019-07-16 00:14] pkuczynski commented on #189
This seems to be a quite outdated issue, so if nobody has it anymore, I guess we can close it...

[2019-07-16 00:14] #189 closed

[2019-07-16 08:01] ilyakorol commented on #124
@pkuczynski it would be nice improvement in terms of splitting different config files by domains/technologies. Big config file is difficult for reading/understanding, is there a chance for implementing this feature?

[2019-07-16 09:18] pkuczynski commented on #124
@ilyakorol you can [add sources in runtime](https://github.com/railsconfig/config#adding-sources-at-runtime). It should not be hard to do the same on the initializer level as @DannyBen suggested:

[code]

Feel free to create PR for this feature and we will merge it.

[2019-07-16 14:01] ryanwjackson opened #236 "Feature: Database as config source"
# Problem
I am using Config where we have various environments.  We use defaults, environment YAMLs, and ENV vars for overriding.  I am faced with a situation though where my non-technical counterparts want to make changes (i.e. change the video that is used as a background).  Rather than require a deploy, it would be nice to have a way for them to change this.

# Solution
I have been exploring if

[2019-07-16 14:05] ryanwjackson opened #237 "Update to use new dry-validation contracts"
The dry-validation gem now relies on a new object called a `Contract`: https://dry-rb.org/gems/dry-validation/

These objects incorporate `schemas` and also allow you access to `rules` which make it possible to do conditional validation (e.g. "this should be a string if this other setting is odd").

**In theory**, this should be easy to implement by offering something like:

[code]

[2019-07-16 14:12] pkuczynski commented on #237
Sounds interesting! Ability to validate config is definitely a nice thing to do. @ryanwjackson would you like to work on this? I suggest we change the option name to `config.validation_contract`

[2019-07-16 14:18] pkuczynski commented on #236
To be honest with you, I am not a fan of adding DB dependency to config. Feels way to complex and bringing complex db-related dependencies.

Feels like you should manage such settings on your own side. `Config` gem should only be rather used to deliver a common layer of configuration for your app. However if you feel you need things from DB, you should be still able to implement it using https://g

[2019-07-16 14:26] ryanwjackson commented on #236
I agree, it does add a lot of complexity, which is why I think it's worth
figuring out if there's a simpler way to solve the problem.  The issue with
sources at runtime is that if you have a distributed system across multiple
servers, containers, dynos, etc. it becomes a challenge to trigger a
reload.  You would need a shared source across all of them and the ability
to detect/trigger reloads.

--

[2019-07-16 14:33] pkuczynski commented on #236
What I meant with runtime is you could pull that info from DB on some request parsing middleware... I really would not add such dependency to this gem.

@ pyromaniac @rdubya @supremebeing7 what you think?

[2019-07-16 14:39] ryanwjackson commented on #236
Yeah, adding it also gets very confusing given different adaptors, plugging
into the ORM, etc.  I'm with you, but curious if there is a clever way to
change config during runtime across multiple instances.  Obviously would
love a lib to solve my problem rather than building it myself, but also
understand the value of keeping something simple and not overcomplicating
it.

--
Ryan Jackson
ryanwjacks

[2019-07-16 14:48] ryanwjackson commented on #237
I can take a stab at it.  I assume we want to leave `config.schema` for backwards compatibility, but do you want me to add that `.validation_contract` is the proper way going forward in the README?

[2019-07-16 15:21] pkuczynski commented on #237
Yeah, I think we should keep `schema` for backward compatibility and add `config.contract` for the new thing, specifying in the README that use have to options to validate.

What you think?

[2019-07-16 15:52] supremebeing7 commented on #236
I would agree that this seems out of the realm of this gem.

I'm not too experienced with distributed systems, but even if this was built into the gem, wouldn't you still run into the issue of needing to trigger a reload when a config value was changed in the DB?

[2019-07-16 16:12] rdubya commented on #236
I agree, I see this as a gem for defining static settings for an instance.

If the values can change, they should probably be read from the db somehow each time they are needed (or potentially in a timed cache) otherwise you'll always need some way of triggering an update everywhere that is using the setting. We have some similar things in our system, in some cases we read them from the db every t

[2019-07-16 16:22] supremebeing7 commented on #232
Looks like `Settings.to_json` works as expected. I believe it's because of this method
https://github.com/railsconfig/config/blob/master/lib/config/options.rb#L127
[code]

Using that as an example, you can run `Settings.to_hash.as_json.inspect` and it will display the same as `YAML.load(File.read(Rails.root.join('config', 'settings.yml'))).inspect`

If this is the behavior we want in the gem, then

[2019-07-16 16:31] pkuczynski commented on #236
As we all agree, I will close this.

[2019-07-16 16:31] #236 closed

[2019-07-16 16:45] vedmant commented on #232
@supremebeing7 Thanks, I actually just removed this gem from the project and loaded my config.yml in the initializer.

[2019-07-16 17:32] supremebeing7 commented on #232
Fair enough. Thinking about this, it seems like it would also be considered a breaking change, so would probably need to wait until the next major version. Seems like calling `Settings.to_hash.as_json` is a simple enough workaround for now, I'd be inclined this. @pkuczynski?

[2019-07-19 14:58] supremebeing7 commented on #58
Just tested on 2.0, received the correct output:
[code]
Closing. Please let us know if you feel this is still an issue.

[2019-07-19 14:58] #58 closed

[2019-07-24 03:47] shahoxo opened #239 "Support hash loading"
Do you have any plans that `Config.load_files` support Hash or add `Config.load_hashes` ?

https://github.com/railsconfig/config/blob/2.0.0/lib/config/options.rb#L20
https://github.com/railsconfig/config/blob/2.0.0/lib/config.rb#L47

`Config::Options#add_source!` has been already supported Hash, but `Config.load_files` has not been supported Hash.

[2019-07-24 10:09] pkuczynski commented on #239
Do you mean like adding support for loading config from JSON files? This could be done fairly easily I believe. Nobody requested it so far, but I can add it if you need it?

[2019-07-24 11:24] shahoxo commented on #239
I'd like to load transformed yaml easily.
For example
[code]
if load yaml normally
[code]

if underscore access
[code]

Above definition is too long, so I'd expect following shorthand.
[code]

[2019-07-24 16:01] pkuczynski commented on #239
Why do you need `deep_underscore_keys`?

[2019-07-25 09:29] #237 closed

[2019-07-25 18:55] supremebeing7 opened #244 "Settings are loaded before `setup` block executed"
Version 2.0.0

I'm trying to use the `use_env` setting, but was noticing the override wasn't working. On closer inspection, it appears as if all of my settings are loaded prior to the `Config.setup` block being executed. I verified this by checking it in the initializer:
[code]

Has anyone else experienced this? I don't think it's due to any special setup for my particular app, but will try to spi

[2019-07-25 19:15] supremebeing7 commented on #244
Reproduced this in an example app https://github.com/supremebeing7/example_config
That one is on rails 6.0.0.rc1, the other app I experienced this is on rails 5.2.3.

[2019-07-25 19:27] supremebeing7 commented on #244
Worth mentioning also that the `const_name` override doesn't appear to work either, presumably for the same reason. The problem there is that it still won't work after `Settings.reload!` since that only reloads the settings and does not redefine any constants.

[2019-07-25 20:02] supremebeing7 commented on #244
OK, I think there's two issues here:
1. I renamed the initializer to `01_config.rb`, but in the railtie it's loading the specific `config.rb` file"
[code]
2. I did the above rename because when I tried to access the `Settings` const in the config initializer, it complained of `uninitialized constant Settings (NameError)`. (Related to #187)

Once I noticed the railtie from [1] above, then [2] makes

[2019-07-26 09:05] shahoxo commented on #239
I often want to import Yaml generated by other libraries as a config.
If the Yaml has a hard-to-use structure, the imported settings will also become a hard-to-use interface.
(ex. Settings.Foo.bar. I'd like to access Settings.foo.bar)
`deep_underscore_keys` is a crude example for processing Yaml.

I am sorry that it is difficult to transmit in my poor English
i'd like to add following interface
[c

[2019-07-30 16:51] l4cr0ss commented on #232
Thanks for the workaround - look forward to seeing it fixed in next major version.

[2019-08-05 02:56] DIGITALSQUAD opened #245 "How to add a custom environment on Rails?"
I want to use a custom environment **production_clone** and added a setting yaml in  /config/settings/production_clone.yml but Settings become nil and raisse NoMethodError.
`Settings.s3_key # => undefined method 's3_key' for nil:NilClass (NoMethodError)`
How can I add ?

[2019-08-05 18:42] pkuczynski commented on #245
I suggest to use `local` files as explained here: https://github.com/railsconfig/config#developer-specific-config-files

Otherwise, you can do https://github.com/railsconfig/config#adding-sources-at-runtime

[2019-08-05 18:42] #245 closed

[2019-08-06 03:10] DIGITALSQUAD commented on #245
Added settings/production_clone.local.yml  and fixed.
Thanks for your reply.

[2019-08-06 16:54] pkuczynski commented on #165
@fuminori-ido this should not be needed as Config should plug itself into a proper rails run-up stage by default. If this is not the case could you prepare a repo with example app illustrating the issue?

[2019-08-06 16:58] pkuczynski commented on #68
I think we could add alias `Rails.application.secrets` to `Settings.secrets` if anybody is interested in this. However, I would keep the way  `secrets.yml` work meaning with environments groups.

@smith @Darkside73 are you still interested in this?

[2019-08-06 17:06] pkuczynski commented on #150
@toncid would you like to come up with a PR for this? I shifted away from Ruby to Node.js so changing this would be quite an effort for me...

[2019-08-06 17:55] pkuczynski commented on #162
Bash variables do not need to be in all upper case. You can easily define them in any case. But you are right, a common practice is to set them all upper case. I just updated the generator by doing all upper case definition - this way we will not affect current users.

Please have a look at #246 and let me know if this is enough in your opinion to close this ticket?

[2019-08-06 18:22] pkuczynski commented on #187
This is not a valid way of doing, what you try to do. `add_source` should be called outside of initializer...

If your case is still needed we could add an option `extra_sources` to add additional sources. But in general idea behind this gem was to stick with following pattern: https://github.com/railsconfig/config/blob/master/lib/config.rb#L58

[2019-08-06 18:26] pkuczynski commented on #244
Yeah, the whole point of the initializer is to define configuration options for the Config before the instance is created. The reason it's done this way was, that you don't need an initializer at all if you follow default setup, as Config is plugging into the rails automatically here: https://github.com/railsconfig/config/blob/master/lib/config.rb#L81

Also see my comment in #187

Question is: why

[2019-08-06 18:32] #162 closed

[2019-08-07 04:40] supremebeing7 commented on #244
Thanks for the clarification @pkuczynski.

Makes sense! I think the default setup is great and wouldn't want to change how this works.

In my specific case, it was due to migrating from a different configuration gem where we had assigned config values to a constant `APP_CONFIG`. So, to avoid a messy migration path, in my initializer I just did `APP_CONFIG = Settings`.

I'll be the first to admit t

[2019-08-07 04:49] supremebeing7 commented on #187
Since this is 1.5 years old I'm assuming this is probably resolved by now, but FWIW @kapso, you could create a separate initializer to load the `tune.yml` sources. I think something like this should work:

*/initializers/config.rb
[code]
*/initializers/tune.rb
[code]

[2019-08-07 17:19] pkuczynski commented on #187
Yes, that could be a workaround for now. Closing this until further interest from anybody...

[2019-08-07 17:19] #187 closed

[2019-08-07 17:26] pkuczynski commented on #244
As I mentioned the other day, I am mainly working on Node.js stack these days, so can't really say how modern app layout is done nowadays.

Adding some more explanation to the `Rails` section of the documentation makes perfect sense if you could do that? Should be enough for now, as nobody else complained.

@rdubya @pyromaniac what do you think about changing the behavior? I am personally not sure

[2019-08-07 17:53] pkuczynski commented on #239
Have you tried?

[code]

or following this example: https://github.com/railsconfig/config/issues/187#issuecomment-518938481

[2019-08-07 17:59] pkuczynski commented on #232
Wouldn't `Settings.to_json` be enough? It should... Right?

I would close it for now, until more people ask for it...

[2019-08-07 17:59] #232 closed

[2019-08-08 01:33] rdubya commented on #244
It does seem like it would make sense to move it out of the initializers directory. We reference Settings in other initializers but not in the config initializer.

[2019-08-12 08:51] pkuczynski commented on #244
Then sure, we can work on this and release as 2.1. @supremebeing7 if you wanna take it over, go ahead.

[2019-09-01 18:46] brunoguerra commented on #39
Sorry @mgraham, I don't remember if I saw this, really sorry. I solved my problem as I told on my comment for single task. It works on this problem context.

@pkuczynski is very old question. My PR https://github.com/railsconfig/config/pull/55 had bugs, perhaps your commit could solved it like a charm https://github.com/railsconfig/config/commit/73aac7c14540ee9cf548a9131d58219cc3f7985c Mentioned b

[2019-09-02 09:37] pkuczynski commented on #39
Got it! I will close this one as its indeed very old.

[2019-09-02 09:37] #39 closed

[2019-09-30 22:10] mbaev opened #249 "Herarchical structure"
I not found any proposals on this. Is it possible to introduce herarchical structure? Currently we in able to make linear list of settings/variables (excepting environments).

I think it will be helpful to be able to avoid repeating for some settings like:
[code]
It might be look like this:
[code]
This is only for definition things. I think it's need to be merged into single string variables as we

[2019-09-30 22:16] #249 closed

[2019-10-01 10:15] pkuczynski commented on #249
No worries ;)

[2019-10-31 09:52] toncid commented on #150
@pkuczynski I have checked how freezing strings cloud be done and I see no simple way of achieving it. The gem relies on Ruby's built-in `YAML.load`, which does not offer such functionality and switching to a custom YAML parser is probably not feasible.

[2019-10-31 16:22] pkuczynski commented on #150
Yeah, custom YAML parser would not be a good idea... But then if there is no easy way of achieving this, I guess we should close this issue?

[2019-10-31 16:23] toncid commented on #150
Yes, probably we should. :) Thanks!

[2019-10-31 16:23] #150 closed

[2019-11-06 13:29] pkuczynski opened #252 "Add support for Hanami"
https://hanamirb.org

[2019-12-04 08:26] pioz opened #257 "Reload works only for one process"
In production, I call `Settings.reload!`, after saving the new config in `settings.yml`. The settings seem updated only in the current process, but not for all other Passenger processes. I need to `touch tmp/restart.txt` to be sure that the configuration is up to date on all processes.

Others have had this problem? Any idea to solve?

[2019-12-18 17:29] jcoyne opened #259 "Support Ruby 2.7"
This causes problems as new_ostruct_member has been removed:
[code]

[2019-12-26 19:11] kapso commented on #259
Curious whats the release date for this fix? thanks.

[2019-12-27 04:16] jcoyne commented on #259
@kapso this is an issue report, not a fix.

[2019-12-27 19:53] kapso commented on #259
@jcoyne true, thanks for correcting me :)

[2020-01-02 18:32] 9mm commented on #259
Also wondering

[2020-01-02 19:47] aardvarkk commented on #259
Just ran into this myself.

[2020-01-02 20:24] jcoyne commented on #259
Hey y'all, this is just an issue. The fix for the issue is in #255. However, that doesn't pass CI because Rails 4.2 doesn't like sprockets 3. That issue is fixed in #256. So, this problem is already solved, it just needs to be merged to master.

[2020-01-04 18:05] Fryguy commented on #259
Fixed in #255 .  If you find any other Ruby 2.7 issues, please open more issues.  Thanks!

[2020-01-04 18:05] #259 closed

[2020-01-04 18:50] pkuczynski commented on #259
Should be released in 2.2.0 before the end of the weekend.

[2020-01-06 18:10] kapso commented on #259
@pkuczynski  Curious if the `2.2.0` is coming out anytime soon? Thanks.

[2020-01-06 18:23] pkuczynski commented on #259
Working on this as we speak. Wanted to fit in #250, which is done and still working on #266 and #258. Hope to finish today :)

[2020-01-08 18:09] pkuczynski commented on #259
Fix released as `2.2.1`

[2020-01-08 18:21] pkuczynski commented on #257
Why would you modify `settings.yml` in production?

[2020-01-08 18:33] pkuczynski commented on #244
@supremebeing7 are u still interested in firing up a PR?

[2020-01-08 18:42] supremebeing7 commented on #244
@pkuczynski I'm interested but unfortunately don't have time currently. So if someone else wants to take a stab at it, they can. Otherwise we can push it to a later milestone and I can look into it then.

[2020-01-14 00:38] pioz commented on #257
To modify `settings.yml` via admin interface. I don't know if it is a bad idea, but for some settings which are changed rarely could be interesting.

[2020-01-14 23:49] pkuczynski commented on #257
Maybe you can try implementing something similar to the solution given here: https://stackoverflow.com/questions/48506247/rails-reload-dynamic-routes-on-multiple-instances-servers/48889163#48889163

[2020-01-28 10:20] hopewise opened #271 "AWS secrets manager?"
Currently we use Capistrano to deploy our app to AWS, which we can handle to symlink `config/settings/production.yml`, however, we are studying the possibility of using AWS [Fargate](https://aws.amazon.com/fargate/),  and it seems that AWS [Secrets Manager](https://aws.amazon.com/secrets-manager/) is recommended when using Fargate.

Not to mention that maximum secret size for AWS Secrets Manager i

[2020-01-28 10:58] pkuczynski commented on #271
I think the easiest option would be to expose secrets from AWS Secrets Manager to Config using environment variables. Have a look at https://github.com/rubyconfig/config#working-with-environment-variables to see how to automatically populate ENV into settings

[2020-01-28 10:58] #271 closed

[2020-01-28 10:59] pkuczynski commented on #271
And if you find something which is not mentioned in the documentation, please share it with the community via pull request to README :)

[2020-01-28 13:12] hopewise commented on #271
Thanks, considering aws pricing $0.4 per a secret, its too expensive comparing to the number of secrets we have! I must find a solution, like grouping each 100 secret or so in one secret.. or completely drop the aws secrets manager idea..

[2020-02-14 07:58] dipanm commented on #192
When you write a simple first line like

`Config.load_and_set_settings("/path/to/yaml1", "/path/to/yaml2", ...)` in
my_app.ruby (even after Gemfile having it and bundle install done), you get this error right way...

So obviously this is not a bug - but we don't know how to use it.

The documentation says

Question is how? - We don't get a symbol Config.
Also tried  `require 'config'`
But it throw

[2020-02-17 13:20] dipanm commented on #192
Okay - it does work for me. I think `bundle install` didn't work, but doing `gem install config` manually worked. Don't know why.

[2020-02-17 17:22] #192 closed

[2020-03-25 20:08] khiav223577 opened #273 "The file `settings.local.yml` is loaded when running rspec tests"
There is a note in README says:

But it seems that the setting in `config\settings.local.yml` is loaded. And it will overwrite the setting in `config\settings\test.yml`.

### Environments
- Rails 5.2.4
- ruby 2.5.5p157 (2019-03-15 revision 67260) [x86_64-linux]
- config (2.0.0)

[2020-03-25 20:28] pkuczynski commented on #273
This line should exclude `local` when running in test env:

https://github.com/rubyconfig/config/blob/master/lib/config.rb#L67

This assumes your env is properly set to `test`. Can you check that?

[2020-03-25 20:35] pkuczynski commented on #257
Closing due inactivity

[2020-03-25 20:35] #257 closed

[2020-03-25 20:36] pkuczynski commented on #239
Closing due inactivity...

[2020-03-25 20:36] #239 closed

[2020-03-25 20:37] pkuczynski commented on #170
Closing due inactivity...

[2020-03-25 20:37] #170 closed

[2020-03-25 20:37] pkuczynski commented on #166
Closing due inactivity...

[2020-03-25 20:37] #166 closed

[2020-03-25 20:38] pkuczynski commented on #165
Closing due inactivity...

[2020-03-25 20:38] #165 closed

[2020-03-25 20:38] pkuczynski commented on #148
Closing due inactivity...

[2020-03-25 20:38] #148 closed

[2020-03-25 20:38] pkuczynski commented on #217
@thomas-mcdonald are you still interested in fixing this?

[2020-03-25 20:39] pkuczynski commented on #244
@supremebeing7 are you still interested in fixing this?

[2020-03-25 20:41] pkuczynski commented on #78
Closing due inactivity...

[2020-03-25 20:41] #78 closed

[2020-03-25 20:42] pkuczynski commented on #206
Can not reproduce. If you provide an example test, I can work on fixing this.

[2020-03-25 20:42] #206 closed

[2020-03-25 20:43] pkuczynski commented on #154
@movstox still interested in providing a PR?

[2020-03-25 20:45] khiav223577 commented on #273
The env is `test`. See:

![image](https://user-images.githubusercontent.com/4011729/77583582-4f64e080-6f1c-11ea-80b8-602e84edcda6.png)

[2020-03-25 20:54] khiav223577 commented on #273
I found out it was fixed in https://github.com/rubyconfig/config/pull/233

The issue is solved by upgrading `config` from 2.0.0 to 2.2.1 :)

[2020-03-25 20:54] #273 closed

[2020-03-25 20:55] pkuczynski commented on #273
I should have asked if you are using the latest version :)

[2020-03-25 21:16] movstox commented on #154
@pkuczynski let me revisit in a day or two and get back to you. was a while ago)

[2020-03-25 21:27] pkuczynski commented on #154
Sure thing! Take your time :)

Apologies for not looking into this before. Once the PR is ready, I will merge it and release a new version.

[2020-03-26 00:17] supremebeing7 commented on #244
@pkuczynski Interested, but I don't have time to do it. And I don't see that situation changing anytime soon.

[2020-03-26 12:10] pkuczynski commented on #244
That's a shame, but I totally understand. Will keep this open and ping you in some time :)

[2020-05-02 22:38] stevenpslade opened #275 "After install on Rails 6: uninitialized constant ActionText::Engine::ApplicationController"
Rails version: 6.0.2.1
Ruby version: 2.7.0p0

I added `gem 'config'` to my Rails 6 project, ran `bundle install`, and `rails g config:install`. Everything appeared to install correctly.

I can start the rails server successfully but when I actually open the app in the browser this lovely error (see below) is outputted in the Rails log and also outputted on to the page.

I have reproduced this on a

[2020-05-03 11:51] pkuczynski commented on #275
This issue does not seem to be relevant to Config gem. We are successfully running test against Rails 6 - have a look at https://github.com/rubyconfig/config/tree/master/spec/app/rails_6.0

[2020-05-03 11:51] #275 closed

[2020-05-03 17:15] stevenpslade commented on #275
@pkuczynski The tests you are running against Rails 6 are for API-only applications. The Rails 6 ApplicationController inherits from ActionController::API instead of ActionController::Base (https://github.com/rubyconfig/config/blob/master/spec/app/rails_6.0/app/controllers/application_controller.rb). This is likely why you are not seeing the issue appear in your tests.

As aforementioned, I reprod

[2020-05-03 19:15] stevenpslade commented on #275
Disabling actiontext in Rails resolves this issue. This is not ideal though, especially if I want to use actiontext in the future.

**config/application.rb**
[code]

[2020-05-03 19:36] stevenpslade commented on #275
After disabling ActionText, Rails let me know of some errors in ApplicationController. There was a line where I had `=||` instead  of`||=`. After fixing that syntax, my app loaded as expected.

I then added ActionText back in afterwards to see if it would load: it did! So it was in fact a simple syntax mistake in ApplicationController but for some reason I was getting an ActionText error instead t

[2020-05-03 20:29] pkuczynski commented on #275
Thank you for all the investigation. That would mean that this is not relevant to `config` gem, right?

[2020-05-03 21:21] stevenpslade commented on #275
I have done a final test where I removed `config` gem and added back in the syntax error in ApplicationController: the error appeared.

So this issue is not relevant to the gem. Thank you for your patience!

[2020-05-16 10:22] pfeiffer opened #276 "Split validation via dry-rb into seperate gem"
Hi!

Since version 2.1 `config` supports validation via `dry-rb`. Unfortunately this dependency results in a quite high memory usage.

Output using `derailed bundle:mem`:

[code]

In our app with quite a lot of dependencies, this makes `config` the second most memory hungry gem after `rails`.

Would it be an idea to split the validation feature into a separate optional gem, that could be included

[2020-05-16 11:07] pfeiffer commented on #276
I digged a little in the code and found #253 that defers requiring `dry-validation` until a schema is defined. After upgrading the gem to latest version, I no longer see `config` using as much memory as mentioned above.

Closing this issue for now :-)

[2020-05-16 11:07] #276 closed

[2020-05-17 14:52] pkuczynski commented on #276
I am glad we had you covered ;)

[2020-07-09 14:33] manjunath724 opened #281 "Access Settings object in deploy.rb"
I have environment specific `relative_url_root` set in my Rails config/settings.yml and config/settings/#{environment}.yml files. Is there a way to make `Settings` object available in deploy.rb file, in which I can use the relative_url_root information.

[2020-07-10 14:08] pkuczynski commented on #281
Maybe you can use `:before` hook in capistrano and initialize `Config`?

[2020-07-15 11:49] francesco-loreti opened #282 "config.overwrite_arrays = true not working"
Hi,
if I set the param overwrite_arrays to true and create two file: settings.yml and settings.local.yml , if I use the same variables, the gem not overwrite but merge arrays

Regards
Francesco

[2020-07-17 10:23] manjunath724 commented on #281
Application throws `uninitialized constant 'Config'` error because the Config library itself is unaccessible. Is there any other possible workaround?

[2020-07-19 11:42] pkuczynski commented on #281
Yeah, you need to initialize it there. Check how its done in Rails initializer...

[2020-07-25 17:43] pkuczynski commented on #282
Hmm, this is strange. Could you maybe come up with a gist how do you use it so I can reproduce on my local?

[2020-09-09 05:57] irmpow commented on #157
I have same problem on version 1.6.1 .
config.const_name class inits as empty in test ENV and is OK in development.
Can this be because of missing some .required(:parameter) in test .yml file?
Can be error/warning throw on this cause?

[2020-11-03 16:13] neilwilliamsdvla opened #283 "Unable to run the tests when trying to contribute"
Hello,

I wanted to make a small change to allow Rails to configure the 'environment' used, instead of basing it on the RAILS_ENV (https://github.com/rubyconfig/config/blob/master/lib/config/integrations/rails/railtie.rb#L12).

It's a very small change, but on running the tests by following the [contribution instructions](https://github.com/rubyconfig/config/blob/master/CONTRIBUTING.md), I'm getti

[2020-11-03 20:49] #283 closed

[2020-11-04 10:53] neilwilliamsdvla commented on #283
There's currently an issue when running:

[code]

too. When you just want to run rspec against the latest rails.

it complains that sqlite isn't installed.

I've fixed this by changing the gemspec to use:

[code]

if you're happy with that, I'll include it in my PR I'm putting together.

[2020-11-04 11:05] pkuczynski commented on #283
Sure, why not! Can yu fire uo PR pls?

[2020-11-06 09:20] neilwilliams commented on #283
@pkuczynski I've put the PR in (https://github.com/rubyconfig/config/pull/285), let me know what you think.

[2020-11-06 16:21] Fryguy commented on #283
@neilwilliams Can you put that piece in a separate PR?  It's unrelated to your feature PR and will likely get merged sooner than the rest of the feature PR.

[2020-11-09 05:33] khoan opened #286 "allow symbol value via ENV"
Setup

[code]

[code]

[code]

maybe related to [issue#194](https://github.com/rubyconfig/config/issues/194)? Thanks.

[2020-11-09 15:55] pkuczynski commented on #286
I don't think its related to #194. They actually wanted something opposite to your case.

Env vars are string and I don't think we should force conversion to symbols. However we could implement a logic where strings staring from `:` would be converted to symbols (see: https://stackoverflow.com/questions/2004491/convert-string-to-symbol-able-in-ruby)

If you are interested, maybe you can fire up a

[2020-11-10 11:33] pkuczynski commented on #283
I agree with @Fryguy. @neilwilliams could you separate this change in gemspec into a separate PR please?

[2020-11-19 10:38] clupprich opened #287 "Unexpected JSON serialisation behaviour"
I ran into a weird issue when upgrading a Rails service recently.

Long story short, jbuilder has changed the way a template is transformed to JSON over the last couple of versions. See https://github.com/rails/jbuilder/blob/master/lib/jbuilder.rb#L250-L252 and the history on that line for details.

[code]

That was kind of unexpected. The reason for that is, that `Config::Options` includes `Enume

[2020-11-24 10:29] wwboynton opened #288 "Optional namespace for `add_source!`"
It would be nice to be able to invoke `Settings.add_source!` with an optional parent prefix such that new sources could be loaded in programmatically into different levels of the Settings structure. This would allow for multiple YML files of similar function to be grouped under the same parent without having to specify that namespace in every single YAML file.

In my case, I have a lot of user-def

[2020-11-24 11:40] pkuczynski commented on #288
Adding sources at runtime should be rather done this way: https://github.com/rubyconfig/config#adding-sources-at-runtime

However `config` has been designed to offer automatic env aware load, rather than manually stitching few files. I am not entirely sure if what you propose does not go against this concept. @cjlarose @Fryguy @rdubya what you think?

[2020-11-24 14:25] Fryguy commented on #288
I think this feature is kind of cool.  I could see people using it for dev/test/prod type breakdowns as well, where they want all 3 to appear in the final payload (as opposed to only one being merged based on env).  If this feature is added, it just has to not conflict with the existing loading mechanisms.

[2020-11-24 14:26] Fryguy commented on #288
I don't understand why there's an Array for the namespace, unless you're expecting it to nest multiple level or something?

[code]

[2020-11-24 16:39] wwboynton commented on #288
Yep, that's precisely it. Providing multiple items to the array nests the result progressively deeper @Fryguy . That's what that whole reverse-inject combo takes care of doing.

[2020-11-24 16:48] wwboynton commented on #288
@Fryguy -- With that said, you're not wrong that it's a little unnatural, lol. It certainly wouldn't be all that hard to slip in the whole `if namespace.is_a?(Array); foo; else; bar` thing to make the assignment of one-level namespaces a little more natural. I actually did that originally but took it out because I didn't want to provide an example of the idea that was too fluffy here, but I'm in f

[2020-11-24 17:27] cjlarose commented on #288
It's already possible to pass an arbitrary `Hash` to `Settings.add_source!`, so the new feature suggestion seems redundant, unless I'm misunderstanding it. Seems like you can just add the new top-level keys using that mechanism.

[code]

[2020-11-24 21:06] Fryguy commented on #288
@cjlarose That's a good point...I completely forgot that add_source can take arbitrary hashes, so yes I agree with you.

[2020-11-24 21:13] pkuczynski commented on #288
Reload would not work with the proposed namespace either I guess?

[2020-11-24 21:16] Fryguy commented on #288
In the proposal the namespace is part of the source, so it could be reloaded.

[2020-11-24 21:20] wwboynton commented on #288
@cjlarose -- I did try that exact thing, but I remember experiencing some undesirable behaviour on reloads, as chunks of the configuration would just disappear. That's why I went to the source to make my modification so that this would persist through reloads. If you wanted to modify the behaviour of hash sources and nested objects inside to achieve the same effect, I wouldn't have a strong opinio

[2020-11-24 21:23] pkuczynski commented on #288
If others agree, I am fine with accepting a PR with this feature...

[2020-11-24 21:54] cjlarose commented on #288
@wwboynton Makes sense. `reload` depends on calling `load` for all of the sources and since the `Hash` is unmodified, the workaround I suggested doesn't work for with `reload`ing. The suggestion for adding a new `namespace` for the YAML source seems good!

[2020-11-30 22:38] pkuczynski commented on #287
@Fryguy @cjlarose @rdubya what you think?

[2020-11-30 22:43] cjlarose commented on #287
It's a little weird to add support for `as_json` since that's an ActiveSupport thing and `config` doesn't explicitly promise that it'll work, but it makes sense to want this behavior since `Config::Options` more-or-less behaves like a `Hash` where you'd expect it to.

I think just delegating calls from `Config::Options#as_json(options)` to `to_h.as_json(options)` seems appropriate. I can open a PR

[2020-12-01 00:13] rdubya commented on #287
It looks like they try to skip that for OpenStructs but the check is too specific. Is there anything we can do to work around that? https://github.com/rails/jbuilder/blob/master/lib/jbuilder.rb#L313

[2020-12-01 00:28] rdubya commented on #287
I'm not sure I am seeing where the issue is coming into play, but does this change help us at all? https://github.com/rails/jbuilder/commit/e2e8623b08078ad6a2323ce8ecaf642b7afe1166#diff-8be890cee05d282eadfd5ce2da69682cae8b9b87bb5c1e8d04004c39d7375a62

[2020-12-01 00:41] cjlarose commented on #287
@rdubya I tested `jbuilder` at `e2e8623b08078ad6a2323ce8ecaf642b7afe1166` and I still get the array-of-pairs representation `{"config"=>[["foo", "bar"]]}`

On commit `07d31ca6b8791b1767f9186a372ae3d3cbf16cf5` (current master), I get the same thing.

[2020-12-01 00:56] cjlarose commented on #287
The change in behavior introduced with jbuilder 2.9.1 (https://github.com/rails/jbuilder/commit/e2e8623b08078ad6a2323ce8ecaf642b7afe1166) is interesting because it seems like the intent was to _start_ respecting `.to_json`, which `Config::Options` explicitly implements. I feel like `jbuilder` expects objects to implement `to_json` if they want control over how they're represented, so it seems like

[2020-12-01 02:53] cjlarose commented on #287
So in OP's example, `Jbuilder` 2.9.1 ends up doing something like this:

[code]

which produces the string `{"config":[["foo","bar"]]}`.

Before 2.9.1, `Jbuilder` did this:

[code]

which produces `{"config":{"foo":"bar"}}`

This is all assuming you're using `ActiveSupport::ToJsonWithActiveSupportEncoder`, which modifies the behavior of calling `.to_json` directly on objects, but not when using `J

[2020-12-01 02:59] cjlarose commented on #287
Given all of that, I think OP's original suggestion of making an explicit implementation of `as_json` in `Config::Options` is the way to go. I'll keep the `to_json` in there, too, as to not introduce any breaking changes.

[2020-12-02 20:05] cjlarose commented on #287
Opened #292 which adds `Config::Options#as_json`, which I think shouldn't introduce any major breaking changes.

Longer term, I think a more robust solution would be to remove `include Enumerable` from `Config::Options` and just explicitly handle the methods we want to expose (like `#each`). But doing that would likely be a breaking change from a semver perspective, so we can hold off on that.

[2020-12-08 12:30] #287 closed

[2020-12-08 14:48] pkuczynski commented on #282
Closing due to lack of activity...

[2020-12-08 14:48] #282 closed

[2020-12-08 14:49] pkuczynski commented on #288
@wwboynton would you still like to fire up PR for this?

[2020-12-08 14:50] pkuczynski commented on #286
@khoan are you interested in firing up PR for this?

[2020-12-08 14:50] pkuczynski commented on #281
Closing due to lack of activity...

[2020-12-08 14:50] #281 closed

[2020-12-08 14:51] pkuczynski commented on #244
@supremebeing7 how do you look with time now? :)

[2020-12-08 14:52] pkuczynski commented on #205
@cjlarose should we do anything about it?

[2020-12-08 14:53] pkuczynski commented on #154
@movstox have you had a chance to look into this? :) Not sure how many people are still using Heroku?

[2020-12-08 14:53] pkuczynski commented on #127
Closing due to lack of activity...

[2020-12-08 14:53] #127 closed

[2020-12-08 16:10] supremebeing7 commented on #244
@pkuczynski Still unavailable to work on this. FWIW: This is very low priority for me - after the initial setup, this issue has not come up again. So, unless someone else wants to pick this up, I'd be fine with closing it.

[2020-12-08 20:20] cjlarose commented on #127
@opya Feel free to open a new issue if this problem still exists in the latest version of the gem!

[2020-12-08 20:24] cjlarose commented on #205
I'll look into this. I think we can update the implementation to make the error condition more clear.

[2020-12-08 22:58] pkuczynski commented on #244
Got it! @cjlarose do you wanna have a look or shall we close it?

[2020-12-08 23:12] cjlarose commented on #244
I can take a look.

[2020-12-09 02:26] cjlarose commented on #205
Updated the implementation to give a more descriptive error message and updated the docs in #293

[2020-12-09 13:42] movstox commented on #154
hey @pkuczynski
Heroku introduced `config:push` option. So I'm wondering if this PR is still has an added value?
[code]

[2020-12-09 14:24] pkuczynski commented on #154
I guess it's not anymore. I am not using Heroku. I will close it now, and if anybody stumbles upon this issue again, please let me know.

[2020-12-09 14:24] #154 closed

[2020-12-09 14:28] #205 closed

[2020-12-09 14:32] pkuczynski commented on #84
@cjlarose do you think it makes sense to add any of this to our source code?

[2020-12-09 18:04] reger opened #294 "Quoted numeric values should be returned as strings, not parsed into numbers"
If you have something like `my_setting: "2.1"` in your file, it gets returned as a `Float`, the same as `my_setting: 2.1` does. I would expect an explicitly quoted value to be returned as a string. I know I can set `config.env_parse_values = false`, but I don't want _all_ numerics returned as strings.

[2020-12-09 18:09] Fryguy commented on #217
@pkuczynski The PR for this seems to have broken backward compatibility, and probably should warrant a major release according to SemVer.  Not sure how to proceed, but we may want to revert this for the 2.2 line.

For example, we had this code (roughly) which is now broken...

[code]

That is, the code was working with the existing .to_h contract of returning a Hash(Symbol, Config::Options), which

[2020-12-09 20:11] pkuczynski commented on #217
Damn. I will revert now and release the next minor.

@Fryguy how should we approach #217 in another way? Or maybe we should not at all?

[2020-12-09 20:36] pkuczynski commented on #294
Yes, you are right. They should not be parsed if explicitly quited. I would welcome a PR if you have some time to look into this?

[2020-12-09 20:46] reger commented on #294
@pkuczynski I'll try to find some time. If I do, I'll submit a PR.

[2020-12-09 21:19] pkuczynski commented on #294
Cool! Thanks in advance :)

[2020-12-09 21:49] cjlarose commented on #84
I'll take a look. It's an old issue, so this might already be fixed, but we can at least improve our docs with recommendations.

[2020-12-09 21:58] cjlarose commented on #294
FWIW `config.env_parse_values` only affects values set with using environment variables to override your settings. It should have no effect when parsing settings from YAML files.

I'd be interested in knowing more about how you're using the gem, though, because I'm surprised that you're seeing quoted values being returned as `Float`s. I'm not able to reproduce this behavior in a test case.

[code]

[2020-12-09 23:38] Fryguy commented on #217
I think we can keep it and just cut a 3.0.0 as per SemVer.

FWIW, I personally _like_ this PR as it's much more intuitive moving forward.

I think the fact that we essentially inherited .to_h from OpenStruct was more of an accident, but I also think following SemVer and not breaking things is more important.

[2020-12-10 00:21] pkuczynski commented on #217
Of course. SemVer is important. Should we bump it to 3.x or rather do 2.3 though? Open for feedback from others... @cjlarose?

[2020-12-10 00:55] cjlarose commented on #217
3.0.0 seems appropriate to me. I agree that making `to_h` match the behavior of `to_hash` is a good thing to do.

[2020-12-10 05:12] reger commented on #294
@cjlarose and now I'm seeing the same behavior you are. I tried it a few different ways today and was seeing it come back as a float. Not sure what was going on or what might have caused what I was seeing, but it all seems fine now. Apologies for the wild goose chase @pkuczynski. I'll go ahead and close this since it seems to be working as expected now. (and it's going to drive me bonkers as to wh

[2020-12-10 05:12] #294 closed

[2020-12-10 13:27] pkuczynski commented on #294
I added a few more tests in #296 to ensure it works as designed

[2020-12-10 13:30] pkuczynski commented on #217
Created #297 to re-introduce this change in 3.0.0

[2020-12-10 14:24] #217 closed

[2020-12-20 21:10] #198 closed

[2021-02-12 15:31] vassilevsky opened #300 "Ways to reload config of a running process?"
Hello :)

Can I send a signal to the process that will make Config reload the configuration?

Will it reload a configuration file after it changes?

Any other way to trigger a reload without restarting the process?

Thanks!

[2021-02-12 19:31] cjlarose commented on #300
It's possible to reload settings (even settings specified in YAML files) at runtime by executing [`Settings.reload!`](https://github.com/rubyconfig/config/blob/2748274b187aa86e71d8b88951a9ab57d7f988d0/README.md#reloading-settings)

The config gem doesn't automatically register any signal handlers to do this, but such a mechanism can be added to your application:

[code]

The config gem does not li

[2021-02-25 04:35] #300 closed

[2021-02-25 07:41] cjlarose commented on #271
A fix for this was implemented in #299 and released in config version 3.0.0.

[2021-03-06 21:31] wwboynton commented on #288
Hey, all. I'm sorry! When I wrote this issue, I was unemployed. Less than a week after, I ended up with a new job and therefore zero free time. But this weekend I was working on a project, used this gem, encountered this same thing again, and instantly remembered this whole conversation, so I've taken a moment and cracked open a fork with a PR coming soon.

I'm happy to make any changes necessary

[2021-03-11 02:41] pecuerre opened #302 "Is it possible to reference another configuration in a YAML file?"
Let me explain. I think the title might not be clear.

I would like to do something like:

[code]

but when I put this it says `uninitialized constant Settings`.

is it possible to do that? is it a workaround some how?

basically what i want to do is define one value that depends on another value.

[2021-03-11 05:38] cjlarose commented on #302
YAML itself has support for anchors and references, so in your case you can do something like this:

[code]

See the [YAML 1.2 specification section 6.9.2](https://yaml.org/spec/1.2/spec.html#id2785586) for more details

[2021-03-11 15:40] pecuerre commented on #302
Oh, thanks. It didn't occurred to me to look in the YAML documentation.

[2021-03-18 13:04] dyodia commented on #156
I had same issue. But I shut down the terminal and re-open it, then it's solved. I have no idea about the reason but I hope it helps someone.

[2021-05-02 21:52] codertyler commented on #126
Facing this issue when upgrading my Rails app from 4.1.14 to 4.2.10

[2021-07-28 01:14] Riveascore commented on #192
I'm having the same issue.

[2021-07-28 01:36] Riveascore commented on #188
This is still broken for me. I tried @nazarhussain's approach, didn't work.

[2021-07-28 08:02] TimoMoss opened #304 "Unexpected formatting of ENV variable values"
Hello
We're using
ruby 2.5.7
gem 'config', '~> 3.1'

[code]

We have some env variable with the value of `OpenSSL::PKey::EC` format

[code]
expected  value
`"-----BEGIN EC PRIVATE KEY-----\nXXXXXXXXXXXXXXXXXXXXXX\nXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX=\n-----END EC PRIVATE KEY-----\n"`

if I call it by Settings.ecdsa_key for some reason it reformats the value and removes `\n`:
`"-----BEGIN EC P

[2021-07-28 17:30] cjlarose commented on #304
`config` will evaluate the YAML file as ERB first, then evaluate the result as YAML. This means that after ERB evaluation, if you want to use multiline strings, they must be encoded in a YAML-friendly way.

For example, your YAML starts off like this:

[code]

After ERB evaluation, that ends up looking like

[code]

`config` just takes the result of ERB evaluation and puts it through `YAML.load`,

[2021-07-28 17:34] cjlarose commented on #192
@Riveascore Feel free to open up a new issue. If you can, please include a complete reproducible test project. That'll greatly increase our ability to debug and address the issue.

[2021-07-28 17:36] cjlarose commented on #188
@Riveascore feel free to open a new issue. If you can, please provide a complete test project that reproduces the issue. That'll help a lot for debugging the issue.

[2021-07-29 08:10] TimoMoss commented on #304
@cjlarose Thank you for the quick reply.
I'm afraid recovering the private key value using `.gsub` is not a reliable solution.
as for built-in support for ENV vars provided by config, how can I validate that the value is present with no use YAML?

[2021-07-29 17:09] cjlarose commented on #304
If you'd like to validate that a value was specified for your ecdsa_key, I'd recommend adding a [validation contract](https://github.com/rubyconfig/config/blob/fe909388b5fc9426bae85480dd3c82f67731d381/README.md#validation). Your contract can ensure that a value is specified.

[2021-07-29 18:10] TimoMoss commented on #304
There is a contract
you can see in the given data above

[code]
but the problem is the same if, by the reason of using  ENV directly, as you have suggested, I do not put the key in the YAML files and at the same time add the presence validation to the validation contract, then the validation will always fail.
Do I understand you correctly you're suggesting using ENV directly and at the same time k

[2021-07-29 18:17] cjlarose commented on #304
Not quite. If you're using ENV directly, it's not necessary to keep anything in the YAML files related to the ECDSA key. Given your configuration, you'd set the ENV var `Settings.ecdsa_key` or `SETTINGS.ECDSA_KEY` to your key. The validation contract is executed after loading the YAML files and reading ENV vars, so the validation contract should only fail if the ENV var was not specified in your c

[2021-07-29 18:45] TimoMoss commented on #304
@cjlarose looks like it works, really appreciate your quick help,  thank you!

[2021-07-29 18:45] #304 closed

[2021-08-27 06:54] kshnyakin opened #308 "Pioneer's question"
Hello all! Question from pioneer.
Start settings is `Settings.some_secret = "wow"`
I have changed settings via adding raw hash, smth like this:
[code]
After that in my App `Settings.some_secret # super` - nice!
But when I make `Settings.some_secret` in sidekiq, that's work with the same app - I see old value = "wow" - not very nice.

How can I synchronize Settings value through all child-apps like

[2021-08-31 09:58] #308 closed

[2021-10-04 11:54] manjunath724 commented on #286
@pkuczynski

I always get Symbol `:bam` for the above configuration. I am executing this on `rails-6.1.4` & `ruby-3.0.2`. Can you please help me replicate? I'd be more than happy to create a PR.

[2021-10-05 00:11] cjlarose commented on #286
@manjunath724 If I understand the feature request correctly, this can be replicated with the following spec:

[code]

Execute

[code]

And you'll get this result

[code]

[2021-12-10 01:52] Wildanar06 commented on #244
good job sir

[2022-01-03 17:31] matteo-rossi-wise opened #312 "Preserve newlines while using embedded Ruby"
👋🏻 Hi all, I'm facing an issue when I try to add a multiline string (OPENSSH Key) from an ENV variable. I'd expect my `Settings.my_key` to preserve newlines but they are removed instead, as follows:

### Example 1: string w/ newline and w/o quotes
[code]

### Example 2: string w/ newline and w/ quotes
[code]

Is there any built-in support for this scenario? Thanks 🙏🏻

[2022-01-04 10:25] IanVaughan opened #313 "Error using Ruby 3.1.0 : Psych::DisallowedClass: Tried to load unspecified class: Time"
Using Ruby 3.1.0 returns this error:
[code]

[2022-01-04 10:31] IanVaughan commented on #313
I guess its a dup of https://github.com/rubyconfig/config/pull/306
I tested master @ c0588bee13244ab3e98ba00c88f5ee43520392e7 locally it it went away.

[2022-01-04 10:31] #313 closed

[2022-01-05 05:13] cjlarose commented on #312
Take a look at https://github.com/rubyconfig/config/issues/304#issuecomment-888489198

I think that was a very similar situation as your own.

[2022-01-05 05:19] cjlarose commented on #313
Sorry about that! Published version 3.1.1 with the fixes from #306 to RubyGems

[2022-01-05 09:13] matteo-rossi-wise commented on #312
Thanks @cjlarose, I've decided to access the specific ENV variable directly instead of enabling global config `use_env` since I needed to access only one multiline string.

We can close this issues, thanks for the support 😃

[2022-01-05 22:41] #312 closed

[2022-01-10 21:12] davidgoldelocks opened #314 "avoid Hash monkey patch when loading DeepMerge"
followup to #120

`DeepMerge` can be loaded in 3 different ways:
1. only the `core` library
2. the `core` library + the default `Hash` monkey patch
3. the `core` library + an alternative `Hash` monkey patch that does not conflict with `ActiveSupport`

`Config` is currently using the [2nd variant](https://github.com/danielsdeleo/deep_merge/blob/master/lib/deep_merge.rb):
https://github.com/rubyconf

[2022-01-10 21:12] davidgoldelocks commented on #314
If end users want either of the monkey patches, they can require them directly:
[code]
[code]

[2022-01-11 23:04] cjlarose commented on #314
I'm on to a PR with this change. I'll likely bump the major version, though, since it's possible someone is implicitly depending on the `Hash` monkey patch in their application.

[2022-04-20 17:23] BuonOmo commented on #276
@pkuczynski actually...

I'll maybe open a PR here with more information, but if you could tell me your interest in my next proposition I'd be glad.

Depending on `dry-validation` doesn't just bring runtime issues (which are covered, as discussed in this conversation). It also bring:

- a larger stack, hence longer `bundle install` and necessity for more ROM in production (which can matter, for in

[2022-06-05 04:09] wwboynton opened #320 "Hash sources get clobbered in `Settings.reload!`"
When manually initializing Config with a YAML source, and then adding a hash source via `.add_source!()`, the `Settings.reload!()` method causes the hash source to be clobbered. Reversing the order of the sources by using `prepend_source!()` instead causes the YAML file to be totally clobbered leaving only the contents of the hash instead.

The reasons seems to be related to the fact that on line

[2022-06-05 09:04] pkuczynski commented on #320
Have you tried running the test after making any of the changes? This might give you an answer if anything gets broken. Feel free to do a PR and it will test it automatically across different frameworks.

[2022-06-09 06:56] deepakmahakale opened #321 "ENV variables not loaded with config"
I followed [this](https://github.com/rubyconfig/config#fine-tuning) but I am unable to access the environment variable with `Settings`

config.rb
[code]

[code]

[code]

  * ruby 3.0.4p208 (2022-04-12 revision 3fa771dded) [x86_64-darwin20]
  * rails (6.1.6)
  * config (4.0.0)

[2022-06-13 15:51] harrisjb commented on #321
Similar issue here:
- config 4.0.0
- ruby 2.5.8
- rails 5.1.7

Contents of `config/initializers/config.rb`
[code]

rails console does not load into ENV namespace:
[code]

[2022-06-16 00:49] harrisjb commented on #321
After review I believe this is expected behavior as the gem is just trying to read from `ENV` namespace if things are loaded into `ENV` by Heroku or AWS or some other means. It doesn't intend to write environment variables into the `ENV` namespace itself, it's just reading from it.

[2022-06-16 07:13] pkuczynski commented on #321
Yes @harrisjb we do not populate things back into ENV, we only read from it. So your reported issue is not valid.

[2022-06-16 07:14] pkuczynski commented on #321
However what @deepakmahakale posted should work. @cjlarose any idea why it does not?

[2022-07-05 22:12] jfadgen commented on #321
I am having the same issue as @deepakmahakale , in a new Rails app:

* config 4.0.0
* rails 7.0.3
* ruby 2.7.4

[code]

.env
[code]

[code]

Happy to try anything if you have any recommendations, thank you.

[2022-08-05 10:33] alienxp03 opened #323 "Compability with Rails engine"
I'm trying to use the gem with Rails engine, and noticed there might be some issue.

[code]

Pretty straightforward setup so far. However adding any new settings doesn't load by default, which is odd. For example:

[code]

Adding the source manually works, but what I noticed here is that `Settings` is trying to load the default settings files from the wrong location.

Correct path: `/home/user/new

[2022-08-05 16:45] pkuczynski commented on #323
@cjlarose wdyt?

[2022-08-05 20:04] Fryguy commented on #323
We also use engines in ManageIQ, but our use case is a little different.  Basically we use Rails engines as a plugin system, and one of the pluggable things is the config settings.  These engines can being their own settings.yml and we will add those to the set of YAML Sources.

To do this we build an initializer that essentially loads config from all of our engines and the main app, all in the ex

[2022-08-08 00:33] alienxp03 commented on #323
Agree with this part. At the moment I can customize the code on my engine to make it work. Not a big issue. But would be nice if it could just work with Rails engine, since from the engine's perspective, it's just another gem.

At the moment I'm not sure either on the solution, or the gem's direction with Rails engine. Just opened an issue here in case others might face the same issues that I have

[2022-08-11 09:39] pglombardo opened #324 "Feature Request: Rake Task to generate env-file"
I use this gem for [Password Pusher](https://github.com/pglombardo/PasswordPusher) and it's been a huge help in centralizing config and simplifying customization.

I would like a way to generate an env-file for Docker.  This file would have  all possible environment variables taken from `settings.yml` and commented out by default.

Then my users can customize/uncomment the file as needed and pass

[2022-08-11 10:12] pkuczynski commented on #324
Nobody ever requested this feature. So I guess you are looking for `export` or `save` function? Feel free to create a PR for it.

[2022-09-01 05:51] nick-reshetnikov commented on #321
@jfadgen, @deepakmahakale, I ran into a similar issue in a recent rails project and figured out that the problem is that ENV variables haven't been loaded yet when the config initializer runs if you're using `.env` files.

specifically, if you're loading from a `.env` file, you will likely need load the .env files before the initializers run.

according to https://github.com/bkeepers/dotenv:

[cod

[2022-09-01 06:15] pkuczynski commented on #321
The whole concept of this gem is to store config in the per env configuration files. Using .env and gems like dotenv is a different approach for doing the same thing. They kind of contradictory to each other. So I am not sure if we should support this. @cjlarose what do you think?

[2022-09-01 07:00] nick-reshetnikov commented on #321
yeah, I see what you're saying, but the issue is that a lot of teams use `.env` files for dev/test environments, but manage environment variables directly on staging/prod servers (e.g. thru Heroku config vars).  pretty much every project I've worked on has used this hybrid approach.  I honestly haven't seen `.env.production` really used, certainly not with things like heroku.

so, you're kind of l

[2022-09-01 15:09] jfadgen commented on #321
Worth noting that the issue went away for me after changing my Gemfile to bundle
```gem "dotenv-rails"```
instead of
```gem "dotenv"```.

[2022-09-01 16:13] nick-reshetnikov commented on #321
@jfadgen I in fact saw this issue while using `"dotenv-rails"`

[2022-09-01 16:36] nick-reshetnikov commented on #321
actually, I just discovered that you can require `dotenv/rails-now` (https://github.com/bkeepers/dotenv/blob/master/lib/dotenv/rails-now.rb) in your gemfile to solve the issue:
[code]
this will ensure that dotenv files are loaded before initializers and solve this issue.  I think modifying the gemfile is preferable to messing with `application.rb` in the manner I showed above.